{% extends "legislation/explorer.html" %}

{% load static %}
{% load utils %}

{% block extra-scripts %}
  <script src="{% static "js/jquery.validate.js" %}"> </script>
  <script src="{% static "js/add_articles.js" %}"> </script>


  <script>
    $('.nav-tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>
{% endblock %}

{% block page-title %}Manage Articles{% endblock %}
{% block page-menu %} 
  {% include 'legislation/navigation.html' %}
{% endblock %}

{% block content-wrapper-class %}manageLeg{% endblock %}
{% block body-layout-type %}extended no-title{% endblock %}

{% block hidden_variables %}
  <input type="number" id="law_pk" value="{{ law.pk }}">
  <input type="number" id="starting_page" value="{{ starting_page }}">
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }} 
  <span> <i class="icon-right-open-mini"></i><a href="{% url 'lcc:legislation:details' legislation_pk=law.pk %}">{{ law.title }}</a></span>
  <span> <i class="icon-right-open-mini"></i><a href="{% url 'lcc:legislation:articles:view' legislation_pk=law.pk %}">Articles</a></span>
  <span> <i class="icon-right-open-mini"></i>Add</span>
{% endblock %}


{% block content %}
<div class="page-container half">
 <h2><b>Add article</b></h2>
  <form class="validate_this" id="addArticle" method="post" action="{% url 'lcc:legislation:articles:add' legislation_pk=law.pk %}">
    {% csrf_token %}

      <input name="legislation" value="{{ law.pk }}" hidden>

      <div class='law-meta-data-container'>
        <div>
          <label class="label-large" for="id_code">Article number <p style="display: inline-block; color: red;" title="This field is required.">*</p></label>
        </div>
        <div>
          <!-- TODO change classes to code  -->
          <input class='law-meta-data-text-field' type="text" name="code" maxlength="64" required id="id_code" placeholder="Example: 1.2.3.4"/>
        </div>
      </div>

    <div class='law-meta-data-container'>
      <div>
        <label class="label-large" for="id_text">Text <p style="display: inline-block; color: red;" title="This field is required.">*</p></label>
      </div>

      <div class="clearfix">
        <!-- TODO change classes to text -->
        <!-- TODO check text style in textarea -->
        <textarea class='law-meta-data-text-field law-meta-data-abstract-field' name="text" maxlength="65535" required id="id_text" placeholder="(i) The text you select fom the scanned document will automatically appear here.
          You can:
          A. Replace any text in this field (default) or
          B. Append text (useful for articles that span across multiple pages)

          Check the original document whenever you feel like the scan was done incorrectly"></textarea>
        <!-- TODO change change char limit -->
        <small class="pull-right" id="rem_char"></small>
      </div>
    </div>

    <div class="legislation-page-container">
      <div>
        <label class="label-large" for="id_legistlation_page">Page <p style="display: inline-block; color: red;" title="This field is required.">*</p></label>
      </div>
      <div>
        <input type="number" required id="id_legistlation_page" name="legislation_page" maxlength="4" value="{{ starting_page }}">
      </div>
    </div>

    <div class='law-meta-data-container check-fields'>
      <div class="tags wrapper">
        <div>
            <label class="label-large" for="id_tags">Tags</label>
        </div>
        <h5>
          <b>Select the best areas where the article fits</b>
        </h5>
        <div class="list-container">
            <ul name='tags' id='tags'>
              {% for tag_group in tag_groups %}
                 <li class="first-level level">
                   <span class="list-header">
                     <i class="fa fa-plus-square" aria-hidden="true"></i>
                     <span name='tagGroup_{{ tag_group.pk }}'> {{ tag_group.name }} </span>
                   </span>
                    <ul class="second-level level">
                     {% for tag in tag_group.tags %}
                       <li>
                        <input id='tag_{{ tag.pk }}' name='tag_{{ tag.pk }}' type='checkbox'>
                        </input>
                        <label for="tag_{{ tag.pk }}">{{ tag.name }}</label>
                       </li>
                     {% endfor %}
                    </ul>
                 </li>
              {% endfor %}
            </ul>
        </div>
      </div>

      <div class="classificaions wrapper">
        <div>
          <label class="label-large" for="id_classifications">Classification <p style="display: inline-block; color: red;" title="This field is required.">*</p></label>
        </div>
        <h5>
          <b>Select the legal areas where the article fits</b>
        </h5>
        <div class="list-container">
          <ul>
            {% for top_class in classifications %}
              <li class="first-level level">
                {% with top_class.get_children as second_classifications %}
                  <span class="list-header" {% if not second_classifications %} style="pointer-events: none;" {% endif %}>
                    <span name='classification_{{ top_class.pk }}'>{{ top_class.name }}</span>
                    {% if second_classifications %}
                      <i class="fa fa-plus-square" aria-hidden="true"></i>
                    {% endif %}
                  </span>
                  <ul class="second-level level">
                    {% for second_class in second_classifications %}
                      <li>
                        <span class="list-header">
                          <input name='classification_{{ second_class.pk }}' id='classification_{{ second_class.pk }}' type=checkbox>
                          </input>
                          <label for="classification_{{ second_class.pk }}">{{ second_class.name }}</label>
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </span>
                        <ul class="third-level level">
                          {% for third_class in second_class.get_children %}
                            <li>
                              <input name='classification_{{ third_class.pk }}' id='classification_{{ third_class.pk }}' type=checkbox>
                              </input>
                              <label for="classification_{{ third_class.pk }}">{{ third_class.name }}</label>
                            </li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>
                {% endwith %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      </div>
      <div class="button-wrapper">
        <button type="submit" class="btn btn-success" id='save-btn' name='save-btn'> Save & View articles</button>
        <button type="button" class="btn btn-primary" id='save-and-continue-btn' name='save-and-continue-btn'> Save & Add another</button>
        <a href="{% url 'lcc:legislation:details' legislation_pk=law.pk %}" class="btn btn-danger" id="cancel-btn">Cancel</a>
      </div>
  </form>

  <div class="last-article-container">
    {% if last_article %}
      <p><strong>Article number: </strong>{{ last_article.code }}</p>
      <!-- TODO The text inside that pre tag should be limited to ~200 chars -->
      <p><strong>Text:</strong> <pre>{{ last_article.text }}</pre></p>
      <p><strong>Page:</strong> {{ last_article.legislation_page }}</p>
    {% else %}
      <p>This law doesn't have any articles.</p>
    {% endif %}
  </div>
</div>
{% include 'legislation/articles/pdf.html' %}

{% endblock %}
