{% extends "index.html" %}

{% load static %}
{% block page-title %}Forgot your password?{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12 login-wrapper">
    <div class="panel-body">
      <p>Fill your account's e-mail and you will receive a reset password link.</p>
      <form action="" method="POST">  
          {% csrf_token %}
          <div class="form-group">
              <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
              {{ form.email }}
          </div>

          <div class="text-danger">
              {% for key, value in form.errors.items %}
                {{ value }}
              {% endfor %}
          </div>

          <button type="submit" class="btn btn-primary">Request password change</button>
       </form>
    </div>
  </div>
</div>
{% endblock %}