{% extends "index.html" %}

{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12 login-wrapper">
    <div class="panel panel-info">
      <div class="panel-heading">
        Password reset complete!
      </div>
      <div class="panel-body">
        <p>You have successfully set your password!</p>
        <p>You can now <a href="{% url 'lcc:auth:login' %}">login</a> using your email address and the pasword you chose.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
