{% extends "index.html" %}

{% load static %}

{% block page-title %}Choose password{% endblock %}
{% block content %}
{% if validlink %}
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12 login-wrapper">
    <div class="panel panel-primary">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form role="form" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="password1">New password:</label>
            <input class="form-control" id="password1" type="password" name="{{ form.new_password1.name }}" />
            {% for error in form.new_password1.errors %}
            <p class="help-block form-field-error">
              {{ error|escape }}
            </p>
            {% endfor %}
          </div>
          <div class="form-group">
            <label for="password2">Confirm password:</label>
            <input class="form-control" id="password2" type="password" name="{{ form.new_password2.name }}" />
            {% for error in form.new_password2.errors %}
            <p class="help-block form-field-error">
              {{ error|escape }}
            </p>
            {% endfor %}
          </div>
          <button type="submit" class="btn btn-primary">Set password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}
