version: '2'

services:

  web:
    build:
      context: .
      args:
        REQFILE: requirements-dev.txt
    container_name: lcct.web
    entrypoint: bash
    ports:
      - "8000:8000"
    environment:
      - DJANGO_MANAGEPY_MIGRATE=on
      - DJANGO_MANAGEPY_COLLECTSTATIC=off
      - DJANGO_MANAGEPY_LOADFIXTURES=on
      - GRUNT_TASK=dev
    depends_on:
      - db
    volumes:
      - .:/opt/lcct

  elasticsearch:
    container_name: lcct.elastic
    ports:
      - "9200:9200"

  elasticsearch_test:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.6.2
    container_name: lcct.elastic_test
    ports:
      - "9201:9200"
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - elastic_test:/usr/share/elasticsearch/data

  db:
    container_name: lcct.db

  mailtrap:
    image: eaudeweb/mailtrap:latest
    container_name: lcct.mail
    ports:
    - "8025:80"

volumes:

  elastic_test:
    driver: local
