{% extends "legislation/explorer.html" %}

{% load static %}
{% load utils %}

{% block extra-scripts %}
  <script src="{% static "js/jquery.validate.js" %}"> </script>
  <script src="{% static "js/add_sections.js" %}"> </script>


  <script>
    $('.nav-tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>
{% endblock %}

{% block page-title %}Manage Articles{% endblock %}
{% block page-menu %} 
  {% include 'legislation/navigation.html' %}
{% endblock %}

{% block content-wrapper-class %}manageLeg{% endblock %}
{% block body-layout-type %}extended no-title{% endblock %}

{% block hidden_variables %}
  <input type="number" id="law_pk" value="{{ law.pk }}">
  <input type="number" id="starting_page" value="{{ starting_page }}">
{% endblock %}

{% block breadcrumbs %}
   {% static "" as baseUrl %}
    <div class="breadcrumbs">
        <div class="container">
           <span>
                <a href="{% url 'lcc:legislation:explorer' %}">Home</a></span>
           <span> 
            <i class="icon-right-open-mini"></i>
              <figure style="display: inline-block;width: 25px; height: 18.75px; margin: 0">
                <img style="max-width: 100%; max-height: 100%;"  src="{{ baseUrl }}img/flags/{{ law.country.iso |lower }}.svg">
              </figure>
            </span>
           <span  class="shorten"> <i class="icon-right-open-mini"></i><a title="{{ law.title }}" href="{% url 'lcc:legislation:details' legislation_pk=law.pk %}">{{ law.title }}</a></span>...
            <span> <i class="icon-right-open-mini"></i><a href="{% url 'lcc:legislation:sections:view' legislation_pk=law.pk %}">Articles</a></span>
            <span> <i class="icon-right-open-mini"></i><b>Add</b class="text-color"></span>
        </div>
      </div>
{% endblock %}


{% block content %}
<div class="page-container half">
 <h2><b>Add article</b></h2>
 {% if law.import_from_legispro %}
   <div class="alert alert-primary">
     <p>The PDF file is not available.</p>
   </div>
 {% endif %}
  <form class="validate_this" id="addSection" method="post" action="{% url 'lcc:legislation:sections:add' legislation_pk=law.pk %}">
    {% csrf_token %}

      <input name="legislation" value="{{ law.pk }}" hidden>

      <div class='law-meta-data-container'>
        <div>
          <label class="label-large" for="id_code">Article number <p style="display: inline-block; color: red;" title="This field is required.">*</p></label>
        </div>
        <div>
          <!-- TODO change classes to code  -->
          <input class='law-meta-data-text-field' type="text" name="code" maxlength="64" required id="id_code" placeholder="Example: 1.2.3.4"/>
        </div>
      </div>

    <div class='law-meta-data-container'>
      <div>
        <label class="label-large" for="id_text">Text <p style="display: inline-block; color: red;" title="This field is required.">*</p></label>
      </div>

      <div class="clearfix">
        <!-- TODO change classes to text -->
        <!-- TODO check text style in textarea -->
        <textarea class='law-meta-data-text-field law-meta-data-abstract-field' name="text" maxlength="65535" required id="id_text" placeholder="(i) The text you select fom the scanned document will automatically appear here.
          You can:
          A. Replace any text in this field (default) or
          B. Append text (useful for sections that span across multiple pages)

          Check the original document whenever you feel like the scan was done incorrectly"></textarea>
        <!-- TODO change change char limit -->
        <small class="pull-right" id="rem_char"></small>
      </div>
    </div>

    <div class="law-meta-data-container selector selector-inline--4">
      <div>
        <label class="label-large" for="id_parent">Sub-article of:</label>
      </div>

      <div>
        <select name="parent" id="id_parent" class="law-meta-data-combobox">
          <option value="" selected>----</option>
          {% for section in law.sections.all %}
            <option value="{{ section.pk }}">
              {{ section.code }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="legislation-page-container">
      <div>
        <label class="label-large" for="id_page">Page
        {% if not section.legislation.import_from_legispro %}
          <p style="display: inline-block; color: red;" title="This field is required.">*
        {% endif %}
        </label>
      </div>
      <div>
        <input type="numer" id="id_page" name="legislation_page" maxlength="4"
              {% if not law.import_from_legispro %} value="{{ starting_page }}" {% endif %} >
      </div>
    </div>

    <div class='law-meta-data-container check-fields'>
      <div class="tags wrapper">
        <div>
            <label class="label-large" for="id_tags">Cross-cutting Categories</label>
        </div>
        <h5 class="muted">Select the best areas where the article fits</h5>
        <div class="list-container">
            <ul name='tags' id='tags'>
              {% for tag_group in tag_groups %}
                 <li class="first-level level">
                   <span class="list-header">
                     <i class="fa fa-caret-down" aria-hidden="true"></i>
                     <span name='tagGroup_{{ tag_group.pk }}'> {{ tag_group.name }} </span>
                   </span>
                    <ul class="second-level level">
                     {% for tag in tag_group.tags %}
                       <li>
                        <input id='tag_{{ tag.pk }}' name='tag_{{ tag.pk }}' type='checkbox'>
                        </input>
                        <label for="tag_{{ tag.pk }}">{{ tag.name }}</label>
                       </li>
                     {% endfor %}
                    </ul>
                 </li>
              {% endfor %}
            </ul>
        </div>
      </div>

      <div class="classificaions wrapper">
        <div>
          <label class="label-large" for="id_classifications">Legal Area <p style="display: inline-block; color: red;" title="This field is required.">*</p></label>
        </div>
        <h5 class="muted">
          Select the legal areas where the article fits
        </h5>
        <div class="list-container">
          <ul>
            {% for top_class in classifications %}
              <li class="first-level level">
                {% with top_class.get_children as second_classifications %}
                  <span class="list-header" {% if not second_classifications %} style="pointer-events: none;" {% endif %}>
                    <span name='classification_{{ top_class.pk }}'>{{ top_class.name }}</span>
                    {% if second_classifications %}
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    {% endif %}
                  </span>
                  <ul class="second-level level">
                    {% for second_class in second_classifications %}
                      <li>
                        <span class="list-header">
                          <input name='classification_{{ second_class.pk }}' id='classification_{{ second_class.pk }}' type=checkbox>
                          </input>
                          <label for="classification_{{ second_class.pk }}">{{ second_class.name }}</label>
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </span>
                        <ul class="third-level level">
                          {% for third_class in second_class.get_children %}
                            <li>
                              <input name='classification_{{ third_class.pk }}' id='classification_{{ third_class.pk }}' type=checkbox>
                              </input>
                              <label for="classification_{{ third_class.pk }}">{{ third_class.name }}</label>
                            </li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>
                {% endwith %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      </div>
      <div class="button-wrapper">
        <button type="submit" class="btn btn-primary" id='save-btn' name='save-btn'>Save</button>
        <button type="button" class="btn btn-link" id='save-and-continue-btn' name='save-and-continue-btn'> Save & Add another</button>
        <span class="muted">|</span>
        <a href="{% url 'lcc:legislation:details' legislation_pk=law.pk %}" class="btn btn-link" id="cancel-btn">Cancel</a>
      </div>
  </form>

  <div class="last-section-container">
    {% if last_section %}
      <h3 class="muted">Previous article</h3>
      <h3><a href="{{section.code}}">Article: {{ last_section.code }}</a></h3>
      <p><strong>Page:</strong> {{ last_section.legislation_page }}</p>

      <!-- TODO The text inside that pre tag should be limited to ~200 chars -->
      <p><pre>{{ last_section.text }}</pre></p>
    {% else %}
      <p>This law doesn't have any articles.</p>
    {% endif %}
  </div>
</div>
{% include 'legislation/sections/pdf.html' %}

{% endblock %}
