@import url("style.css");

.menu-section {
    border-bottom:2px solid #C9C6D1;
}

.footer-section {
	border-top:2px solid #C9C6D1;
}

.form-field-error {
	color: red;
}


.law-list-item {
	margin-bottom:0px;
}
