@import url("style.css");

.menu-section {
    border-bottom:2px solid #C9C6D1;
}

.footer-section {
	border-top:2px solid #C9C6D1;
}

.form-field-error {
	color: red;
}


.law-list-item {
	margin-bottom:0px;
}

.law-meta-data-text-field {
	width:100%;
}

.law-meta-data-abstract-field {
	height:128px;
}

.law-meta-data-combobox {
	width: 128px;
}

.law-meta-data-container {
	width:100%;
	margin-bottom:14px;
}

