DEBUG=on

SECRET_KEY=your-secret-key
DATABASE_URL=postgres://postgres:postgres@db:5432/postgres

ALLOWED_HOSTS=*

SENTRY_DSN=
SENTYR_ENV=

GA_TRACKING_ID=


LEGISPRO_URL=
LEGISPRO_USER=
LEGISPRO_PASS=
