{% extends "index.html" %}

{% load static %}
{% block page-title %}Legal profile{% endblock %}
{% block content-wrapper-class %}assessment_profile{% endblock %}


{% block content %}
  <h3 style="margin-bottom: 3rem;" id="title" class="heading">
        {% static "" as baseUrl %}
        <img style="width: 32px;
         margin-top: -2px;" class="flag" src="{{ baseUrl }}/img/flags/{{ country.iso |lower }}.svg">
        <span><b>{{ country.name }}</b></span>
    <hr>
  </h3>
    <div class="hidden_values">
      {% for prop in meta %}
        {% if not prop.name == 'cvi2015' %}
          <ul>
            <li id="{{prop.name}}" class="original">
              {% if prop.orig or prop.orig is False %}
                <span class="{{ prop.type }}">
                  {% if prop.type == 'multiple' %}
                    <ul>
                      {% for multiple_prop in prop.orig %}
                        <li>• {{ multiple_prop }}</li>
                      {% endfor%}
                    </ul>
                  {% elif  prop.type == 'checkbox' %}
                    {% if prop.orig == True %}
                      <span class="table_image">✔</span>
                    {% else %}
                      <span class="table_image">🗙</span>
                    {% endif %}
                  {% else %}
                    {{ prop.orig }}
                  {% endif %}
                </span>
              {% else %}
                &mdash;
              {% endif %}
            </li>
          </ul>
        {% endif %}
      {% endfor %}
    </div>

  <div>
    <form role="form" method="POST">
      {% csrf_token %}
    <div class="table-container">
      <table class="assessment_table edit">
        <thead>
          <th></th>
          <th class="original">Original</th>
          <th class="simulation">Simulation</th>
        </thead>
        <tbody>
          {% for field in form.visible_fields %}
            {% if not field.name == 'cvi2015' %}
              <tr>
                <td>
                  {{ field.label_tag }}
                </td>
                <td id="{{ field.name }}" class="original"></td>
                <td class="simulation">{{ field }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          <tr class="last">
            <td></td>
            <td class="original"><input type="submit" name="discard" class="btn btn-link" value="Revert to original" /></td>
            <td class="simulation">
            <input type="submit" name="save" class="btn btn-primary" value="Save customisations" />
            <br>
            <a href="{% url 'lcc:country:view' iso=country.iso %}" class="btn btn-link">Cancel</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  
    

    </form>
  </div>
{% endblock %}
