{% extends "index.html" %}

{% load static %}
{% block page-title %}Legal profile{% endblock %}


{% block content %}
  <div id="title" class="heading">
    {{ country.name }}
  </div>

  <div>
    <form role="form" method="POST">
      {% csrf_token %}
    <div class="table-container">
      <table class="assessment_table edit">
        <thead>
          <th></th>
          <th class="original">Original</th>
          <th class="simulation">Simulation</th>
        </thead>
        <tbody>
          {% for field in form.visible_fields %}
            <tr>
              <td>
                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
              </td>

              <td class="original">{{ field.as_widget }}</td>
              <td class="simulation">{{ field }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
      <div class="form-group">
        <input type="submit" name="save" class="btn btn-success" value="Save customisations" />
        <a href="{% url 'lcc:country:view' iso=country.iso %}" class="btn btn-warning">Cancel</a>
        <input type="submit" name="discard" class="btn btn-danger pull-right" value="Discard" />
      </div>

    </form>
  </div>
{% endblock %}
