{% extends "index.html" %}

{% load static %}

{% block extra-scripts %}
  <script src="{% static "js/assessment_profile.js" %}"> </script>
{% endblock %}

{% block content-wrapper-class %}assessment_profile{% endblock %}


{% block page-title %}Assessment profile{% endblock %}
{% block page-menu %}
 <div style="float: right;
    width: 200px;
    margin-top: 2rem;">
   
 <span style="font-size: 1.5rem;
    padding-left: 2px;">Change country</span> <select  id="assess_profile_country_list">
    {% for country_select in countries %}
      <option value="{{ country_select.iso }}"
              {% if country.iso == country_select.iso %}selected{% endif %}>
        {{ country_select.name }}
      </option>
    {% endfor %}
  </select>    
 </div>

{% endblock %}

{% block content %}
  <h3 style="margin-bottom: 3rem;" id="title" class="heading">
        {% static "" as baseUrl %}
        <img style="width: 32px;
    margin-top: -2px;" class="flag" src="{{ baseUrl }}/img/flags/{{ country.iso |lower }}.svg">
        <span><b>{{ country.name }}</b></span>
  <hr>
  </h3>
<div class="table-container">
  <table class="assessment_table">
    <thead>
      <th></th>
      <th class="original">Original</th>
      {% if meta.is_customised %}
      <th class="simulation">Simulation<small>Current profile</small></th>
      {% endif %}
    </thead>
    <tbody>
    {% for prop in meta %}
      {% if not prop.name == 'cvi2015' %}
        <tr>
          <td>{{ prop.label }} {% if prop.modified %}*{% endif %}</td>
          <td class="original">
            {% if prop.value or prop.value is False %}
              <span class="{{ prop.type }}">
                {% if prop.type == 'multiple' %}
                  <ul>
                    {% for multiple_prop in prop.orig %}
                      <li>• {{ multiple_prop }}</li>
                    {% endfor%}
                  </ul>
                {% elif  prop.type == 'checkbox' %}
                  {% if prop.orig == True %}
                    <span class="table_image">✔</span>
                  {% else %}
                    <span class="table_image">🗙</span>
                  {% endif %}
                {% else %}
                  {{ prop.orig }}
                {% endif %}
              </span>
            {% else %}
              &mdash;
            {% endif %}
          </td>
          {% if meta.is_customised %}
          <td class="simulation">
            <span class="{{ prop.type }}">
              {% if prop.modified %}
                {% if prop.type == 'checkbox' %}  
                  {% if prop.value == True %}
                    <span class="table_image">✔</span>
                  {% else %}
                    <span class="table_image">🗙</span>
                  {% endif %}
                {% elif prop.type == 'multiple' %}
                  <ul>
                    {% for multiple_prop in prop.value %}
                      <li>• {{ multiple_prop }}</li>
                    {% endfor%}
                  </ul>
                {% else %}
                  {{ prop.value }}
                {% endif %}
              {% else %}
                <span class="muted">
                  {% if prop.value or prop.value is False %}
                    {% if prop.type == 'multiple' %}
                      <ul>
                        {% for multiple_prop in prop.orig %}
                          <li>• {{ multiple_prop }}</li>
                        {% endfor%}
                      </ul>
                    {% elif not prop.type == 'checkbox' %}
                      {{ prop.orig }}
                    {% endif %}
                  {% else %}
                    &mdash;
                  {% endif %}
                </span>
              {% endif %}
            </span>
          </td>
          {% endif %}
        </tr>
      {% endif %}
    {% endfor %}
    <tr class="last">
      <td></td>
      {% if meta.is_customised %}
      <td class="original"><a href="{% url 'lcc:country:delete' iso=country.iso %}"  onclick="return confirm('Are you sure you want to delete this?')" class="btn btn-link"/>Revert to original</a></td>
      <td class="simulation"><a href="{% url 'lcc:country:customise' iso=country.iso %}" class="btn btn-primary">Edit profile</a> </td>
      {% else %}
       <td class="original"><a href="{% url 'lcc:country:customise' iso=country.iso %}" class="btn btn-link">Edit profile</a> </td>
      {% endif %}
    </tr>
    </tbody>
  </table>
</div>
{% endblock %}
