{% extends "legislation.html" %}


{% block content %}
  <div class="articles-container">
  {% for article in articles %}
    <div class="viz-container">
      <a class="btn btn-info pull-right" href="/legislation/edit/articles?article_id={{ article.pk }}">Edit</a>
      {% if article.code %}
      <h3>{{ article.code }}</h3>
      {% endif %}
      {% if article.legislation %}
      <p>{{ article.legislation }}</p>
      {% endif %}
      {% if article.text %}
      <p>{{ article.text }}</p>
      {% endif %}
      {% if article.all_tags %}
      <p>Tags: {{ article.all_tags }}</p>
      {% endif %}
      {% if article.all_classifications %}
      <p>Classifications: {{ article.all_classifications }}</p>
      {% endif %}
    </div>
  {% endfor %}
  </div>
  <div class="button-wrapper" style="margin:1rem 0;">
    <a class="btn btn-primary" href="/legislation">View all legislations</a>
  </div>
{% endblock %}
