{% extends "base.html" %}

{% block menu-top %}
	<li> <a href="/#" class="menu-top-active"> Dashboard </a> </li>
	<li> <a href="/legislation"> Legislation </a> </li>
{% endblock %}

{% block header-top-right %}
	{% if request.user.is_authenticated %}
		{{request.user_profile.country}} | {{request.user.get_full_name}}
		<strong> {{request.user.full_name }} </strong> |
		<a href="/logout/" id='login-link'>Logout</a>
	{% else %}
		<a href="/login/" id='register-link'> Login </a> |
		<a href="#" id='register-link'> Register </a>
	{% endif %}
{% endblock %}

