{% extends "legislation.html" %}

{% load static %}
{% load utils %}

{% block extra-scripts %}
  <script src="{% static "js/add_articles.js" %}"> </script>
{% endblock %}

{% block content-title %}
{% endblock %}

{% block hidden_variables %}
{% endblock %}

{% block content %}
  <div id="title" style="margin-bottom:28px;" pk="{{ law.pk }}">
  Manage Articles for: {{ law.title }} | {{ law.country.name }}
  </div>

  {% if pages %}
    <button type="button" id="prev">Previous</button>
    <button type="button" id="next">Next</button>
    {% with pages|index:starting_page as current_page %}
      <h1 id="page_number" max_page="{{ max_page }}">{{ current_page.page_number }}</h1>

      <div id="raw-text-page">
          {{ current_page.page_text|safe }}
      </div>
    {% endwith %}
  {% else %}
    <div>No pages created for this legislation</div>
  {% endif %}

  <script type="text/javascript">

  </script>
{% endblock %}