{% extends "legislation.html" %}

{% block content %}

<div class="row addLeg">
  <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="">
      <div class="panel-body">
        <div id="title" class="heading">
          Add new legislation
        </div>
      <form id="legislationAddForm" enctype="multipart/form-data" method="post" action="/legislation/add/">
        {% csrf_token %}
      <div class='law-meta-data-container'>
        <div>
          <label class="label-large" for="id_title">Title</label>
        </div>
        <div>
          <input class='law-meta-data-text-field' type="text" name="title" maxlength="256" required id="id_title" value="{{ title }}"/>
        </div>
      </div>

      <div class='law-meta-data-container'>
        <div>
          <label class="label-large" for="id_abstract">Abstract:</label>
        </div>

        <div class="clearfix">
          <textarea class='law-meta-data-text-field law-meta-data-abstract-field' name="abstract" maxlength="1024" required id="id_abstract" placeholder="Add Abstract">{{ abstract }}</textarea>
        <small class="pull-right" id="rem_char"></small>
        </div>
      </div>


      <div class='full-width-bg'>
        <div class="container upload-container">
          <div>
            <label style="margin-bottom: 0" class="label-large" for="id_pdf_file">Upload file</label>
          </div>

          <div class="label-description">
            Document extension .pdf allowed
          </div>

          <div class="custom-file-upload">
            <input type="file" name="pdf_file" name="myfiles[]" required id="id_pdf_file" accept=".pdf, .Pdf, .PDF, .PDf">
          </div>
          <!-- TODO Style this for error type; Should disapear once a pdf have been reuploaded  -->
          {% if errors %}
            {% if errors.pdf %}
              <span class="pdf-error error">{{ errors.pdf }}</span>
            {% else %}
              <span class="pdf-error error">This form has errors. Please reupload file.</span>
            {% endif %}
          {% endif %}
        </div>
      </div>


      <div class='law-meta-data-container'>
        <div class="selector selector-inline--4">
          <div>
            <label class="label-medium" for="id_country">Country:</label>
          </div>
          <div>
            <select name="country" required id="id_country" class="law-meta-data-combobox">
              {% for country in countries %}
              <option value="{{ country.iso }}"
                {% if selected_country %}
                  {% if selected_country.name == country.name %}
                    selected
                  {% endif %}
                {% elif country.name == user_country %}
                  selected
                {% endif %}>
                {{country.name}}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="selector selector-inline--4">
          <div>
            <label class="label-medium" for="id_law_language">Language:</label>
          </div>
          <div>
            <select name="language" id="id_law_language" class="law-meta-data-combobox">
            {% for iso, language in available_languages %}
              <option value="{{ iso }}"
                {% if selected_language %}
                  {% if selected_language == iso %}
                    selected
                  {% endif %}
                {% else %}
                  {% if forloop.first %}
                    selected
                  {% endif %}
                {% endif %}>
              {{language}}
              </option>
            {% endfor %}
            </select>
          </div>
        </div>

        <div class="selector selector-inline--4">
          <div>
            <label class="label-medium" for="id_law_type">Law type:</label>
          </div>
          <div>
            <select name="law_type" id="id_law_type" class="law-meta-data-combobox">
            {% for law_type_key, law_value_key in legislation_type %}
              <option value="{{ law_type_key }}"
                  {% if selected_law_type %}
                    {% if selected_law_type == law_type_key %}
                      selected
                    {% endif %}
                  {% else %}
                    {% if forloop.first %}
                      selected
                    {% endif %}
                  {% endif %}>
                {{ law_value_key }}
              </option>
            {% endfor %}
            </select>
          </div>
        </div>

        <div class="selector selector-inline--4">
          <div>
            <label class="label-medium" for="id_geo">Geographical Coverage:</label>
          </div>
          <div>
            <select name="geo" id="id_geo" class="law-meta-data-combobox">
            {% for geo_type_key, geo_value_key in geo_coverage %}
              <option value="{{ geo_value_key }}"
                  {% if selected_geo %}
                    {% if selected_geo == geo_type_key %}
                      selected
                    {% endif %}
                  {% else %}
                    {% if forloop.first %}
                      selected
                    {% endif %}
                  {% endif %}>
                {{ geo_value_key }}
              </option>
            {% endfor %}
            </select>
          </div>
        </div>

        <div class="selector selector-inline--3">
          <div>
            <label class="label-medium" for="id_website">Website:</label>
          </div>
          <div>
            <input class='law-meta-data-text-field' type="text" id="id_website" name="website" maxlength="256" value="{{ selected_website }}"/>
            {% if errors.website %}
              <span class="year-details error">{{ errors.website }}</span>
            {% endif %}
          </div>
        </div>

        <div class="selector selector-inline--3">
          <div>
            <label class="label-medium" for="id_source">Source:</label>
          </div>
          <div>
            <input class='law-meta-data-text-field' type="text" id="id_source" name="source" maxlength="256" value="{{ selected_source }}"/>
          </div>
        </div>

        <div class="selector selector-inline--3">
          <div>
            <label class="label-medium" for="id_source_type">Type of source:</label>
          </div>
          <div>
            <select name="source_type" id="id_source_type" class="law-meta-data-combobox">
              {% for source_type_key, source_type_value in source_types %}
                <option value="{{ source_type_key }}"
                    {% if selected_source_type %}
                      {% if selected_source_type == source_type_key %}
                        selected
                      {% endif %}
                    {% elif forloop.last %}
                      selected
                    {% endif %}>
                  {{ source_type_value }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="selector selector-inline--4">
          <div>
            <label class="label-medium" for="id_law_year">Promulgation of the law (year):</label>
          </div>
          <div>
            <select name="law_year" id="id_law_year" class="law-meta-data-combobox">
              {% for year in adoption_years %}
                <option value="{{ year }}"
                    {% if selected_year_of_adoption %}
                      {% if selected_year_of_adoption == year %}
                        selected
                      {% endif %}
                    {% elif forloop.last %}
                      selected
                    {% endif %}>
                  {{ year }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="selector selector-inline--4">
          <div>
            <label class="label-medium" for="id_amendment_year">Latest known amendment (year):</label>
          </div>
          <div>
            <select name="amendment_year" id="id_amendment_year" class="law-meta-data-combobox">
              {% for year in adoption_years %}
                <option value="{{ year }}"
                    {% if selected_year_of_amendment %}
                      {% if selected_year_of_amendment == year %}
                        selected
                      {% endif %}
                    {% elif forloop.last %}
                      selected
                    {% endif %}>
                  {{ year }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="selector selector-inline--2">
          <div>
            <label class="label-medium" for="id_year_of_adoption_mention">Additional date details:</label>
          </div>
          <div>
            <input class='law-meta-data-text-field' type="text" id="id_year_of_adoption_mention" name="year_of_adoption_mention" maxlength="256" value="{{ selected_year_details }}"/>
            <!-- TODO: this checks if the field have a 4 digit string. Could be done in js. -->
            {% if errors.year_details %}
              <span class="year-details error">{{ errors.year_details }}</span>
            {% endif %}
          </div>
        </div>
      </div>


      <div class='law-meta-data-container check-fields add'>
        <div class="tags wrapper">
          <div>
            <label for="id_tags">Tags</label>
          </div>
          <div>
            Select the best areas where the legislation fits
          </div>
          <div class="list-container">
            <ul name='tags' id='tags'>
            {% for tag_group in tag_groups %}
               <li class="first-level level">
               <span class="list-header">
                 <i class="fa fa-plus-square" aria-hidden="true"></i>
                <span name='tagGroup_{{tag_group.pk}}'> {{tag_group.name}} </span>
               </span>
                <ul class="second-level level">
                 {% for tag in tag_group.tags %}
                 <li>
                  <input id='tag_{{tag.pk}}' name='tag_{{tag.pk}}' type='checkbox'
                      {% if selected_tags %}
                        {% if tag.name in selected_tags %}
                          checked
                        {% endif %}
                      {% endif %}>
                    {{tag.name}}
                  </input>
                 </li>
                 {% endfor %}
                </ul>
               </li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <div class="classificaions wrapper">
          <div>
            <label for="id_classifications">Classifications</label>
          </div>

          <div>
            Select the legal areas where the legislation fits
          </div>

          <div class="list-container">
            <ul>
              {% for top_class in classifications %}
                <li class="first-level level">
                  {% if top_class.get_children %}
                    <span class="list-header">
                      <input name='classification_{{ top_class.pk }}' type='checkbox'
                          {% if top_class.name in selected_classifications %}
                            checked
                          {% endif %}>
                        {{ top_class.name }}
                      </input>
                    </span>
                  {% else %}
                    <span class="list-header" style="pointer-events: none;">
                      <span>{{ top_class.name }}</span>
                    </span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button type="submit" class="btn btn-success" id='save-btn' name='save-btn'> Save </button>
        <button type="submit" class="btn btn-primary" id='save-and-continue-btn' name='save-and-continue-btn'> Save & Add articles</button>
      </div>
      </form>
      </div>
    </div>
  </div>

</div>

{% endblock %}
