{% extends "index.html" %}

{% load static %}

{% block content-title %}
<!-- <h4 class="header-line"> Register </h4> -->
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12 login-wrapper">
    <div class="panel panel-info">
      <div class="panel-heading">
        Register new account
      </div>
      <div class="panel-body">
        {% if success %}
        <p>Registration submitted for review! You will receive an email once it has been approved or denied.</p>
        {% else %}
        <form role="form" id="register-form" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" name="email" required id="form-email-input" value="{{ default.email }}" />
            {% if errors and errors.email %}
            <p class="help-block form-field-error">{{ errors.email }}</p>
            {% endif %}
          </div>
          <div class="form-group">
            <label>Institutional affiliation</label>
            <input class="form-control" type="text" name="affiliation" id="form-affiliation-input" value="{{ default.affiliation }}" />
            {% if errors and errors.affiliation %}
            <p class="help-block form-field-error">{{ errors.affiliation }}</p>
            {% endif %}
          </div>
          <div class="form-group">
            <label>Position</label>
            <input class="form-control" type="text" name="position" id="form-position-input" value="{{ default.position }}" />
            {% if errors and errors.position %}
            <p class="help-block form-field-error">{{ errors.position }}</p>
            {% endif %}
          </div>
          <div class="form-group">
            <label>Country</label>
            <select class="form-control" name="country" id="form-country-input" required>
              <option value="">-</option>
              {% for country in countries %}
              <option value="{{ country.iso }}" {% if default.country == country.iso %} selected="selected" {% endif %}>{{ country.name }}</option>
              {% endfor %}
            </select>
            {% if errors and errors.country %}
            <p class="help-block form-field-error">{{ errors.country }}</p>
            {% endif %}
          </div>
          <div class="form-group">
            <label>Desired role</label>
            <select class="form-control" name="role" id="form-role-input" required>
              <option value="">-</option>
              {% for role in roles %}
              <option value="{{ role }}" {% if default.role == role %} selected="selected" {% endif %}>{{ role }}</option>
              {% endfor %}
            </select>
            {% if errors and errors.role %}
            <p class="help-block form-field-error">{{ errors.role }}</p>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-info" id="login-btn">Request registration</button>
        </form>
        {% endif %}
      </div>
    </div>
    <p>
      <strong>NOTE:</strong>
      the account will have to be approved before you will be able to login with it.
      Upon approval, you will receive a link allowing you to set a password.
    </p>
  </div>
</div>
{% endblock %}
