
.pdf-container {
    &.half {
        width: 30%;
    float: right;
    }
}

.page-container {
    &.half {
        width: 70%;
    float: left;
    }
}


.manageLeg {
    .container {
        width: 100%!important;
    }
}
