{% extends "index.html" %}
{% load static %} 
{% block page-title %}About us{% endblock %} 
{% block content-wrapper-class %}about_us{% endblock %}

{% block content%}
<div class="container small">
  {% if static_page %}
    {{ static_page.text|safe }}
  {% else %}
    <h2><b>The Law and Climate Change Toolkit</b></h2>

    <h3><b>Overview</b></h3>
    <p>
      The Law and Climate Change Toolkit is an online and open database developed through a partnership
      between the UN Climate Change secretariat, UN Environment Programme, and the Commonwealth Secretariat
      working in close collaboration with partner countries, international organizations and research institutions.
      The Toolkit is designed to provide a global resource to help countries put in place the legal frameworks necessary
      for effective domestic implementation of the Paris Agreement and their nationally determined contributions (NDCs).
    </p>
    <p>
      The Toolkit is designed for use by national governments, international organizations in the field of climate law
      and governance, and experts engaged in assisting countries to implement national climate change laws, as well as
      academia and research institutions that are undertaking analysis of the growing body of climate change-related
      legislation throughout the world. The key features of the Toolkit include functionalities to search existing
      climate change-related legislation and undertake an assessment of a selected country’s legislation to help users
      identify priority areas for climate law review and potential legislative or regulatory reform.
    </p>
    <p>
      The Toolkit has been developed in phases. In the first phase, general climate change legislation and legislation
      related to energy systems and production was added. This was followed by modules on agriculture and forestry,
      and on urban planning law. The agriculture and forestry module was updated in 2021 to also include a section on
      aquaculture and fisheries.
    </p>

    <p>
      Although the majority of legal instruments featured in the Toolkit are in English, the goal is to expand the
      functionality and data in the Toolkit to other official UN languages in order to broaden the global geographical
      scope of the Toolkit and improve accessibility and utility to more users. The partner organizations also seek
      to continue working with international organizations, research institutions and pilot countries interested in
      testing the Toolkit in their domestic legislative efforts. The experience gained and the feedback received will,
      in turn, help to ensure that the Toolkit responds to the needs of countries, allowing the developers to improve
      and expand upon the Toolkit and in turn inform its future “Lessons Learned” component.
    </p>

    <h3><b>Functionality</b></h3>
    <p>The Toolkit provides a guided experience for users and offers a variety of functionalities under 
      three interlinked, but independent, main components supported by a back-end climate legislation database.
    </p>

    <h4><b>1. The search function: Legislation Explorer</b></h4>
    <p>The Toolkit provides access to climate change-related legislation from around the world, including both
      overarching climate change laws and sectoral legislation. Through the search function, users will be able
      to search for relevant laws and provisions by way of a free text search and/or the use of a guided taxonomy
      including legal areas and cross-cutting categories. To enhance the relevance of information provided by the
      Toolkit, users will be also able to filter results by country, promulgation year of the legislation, and
      type of legislation. Although not exhaustive of available global legislation, the Legislation Explorer aims
      to return exemplary and geographically representative results to allow users to view various instruments and
      provisions to suit their needs.
    </p>

    <h4><b>2. The assessment component: Legal Assessment</b></h4>
    <p>
      The Legal Assessment functionality of the Toolkit provides the user with the opportunity to undertake
      a review of a selected country’s legislation and identify potential areas for legislative or regulatory
      reform or improvement.
    </p>
    <p>
      Users answer a set of interactive assessment questions covering a broad range of issues and thematic
      areas linked to climate change. Based on the answers submitted, the Toolkit identifies specific legislative gaps.
      The user is then provided with relevant examples of legislation from other countries which respond to the
      gaps identified in the assessment.
    </p>
    <p>
      The Legal Assessment identifies issues or areas of a country’s existing legislation that could be strengthened
      and presents users with examples of laws from other countries which may address these issues. Policy-makers
      may find this feature useful as it enables users to examine laws and provisions on specific climate change-related
      issues already established in other countries and could serve as a basis for inspiration for countries wishing to
      develop similar provisions as needed.
    </p>
    <p>
      Results presented by the Legal Assessment can be further narrowed using additional criteria such as the type of
      legal system, population, GDP, emissions profile, adaptation priorities or focus areas for mitigation (e.g. according
      to a country’s NDC). This feature enables policy-makers to better target laws from countries that most reflect their
      national context or needs.
    </p>
    <p>
      The assessment is not intended to be prescriptive but can instead offer options and examples for the user to draw
      on for further legislative development efforts.
    </p>

    <h4><b>3. Individual country circumstances: Assessment Profile</b></h4>
    <p>
      The Assessment Profile functionality provides climate change-related information and statistics on all countries
      in the world, including information on adaptation and mitigation focus areas. This information can be used in
      tandem with the other functionalities to give users a more holistic view of the state of climate change legislation
      in countries with similar circumstances.
    </p>

    <h4><b>4. Collecting experience: Lessons Learned</b></h4>
    <p>
      In the mid- and long term, users of the Toolkit will be able to access a section on lessons learned and experience
      gained with existing climate laws. This will provide users with information on how provisions from national laws are
      being applied and ‘what works’ in climate law in different countries around the world. It is envisaged that over time,
      more and more experience and lessons learned in the various thematic legal areas can be gathered and a growing 
      ‘community of practice’ be established.
    </p>

    <h4><b>Ongoing expansion and improvement</b></h4>
    <p>
      The Toolkit is continuously being expanded to include more laws on climate change and updated to ensure existing
      laws reflect their most recent amendments. It will also incorporate country experiences with NDCs and climate law
      development. Successes and challenges faced by countries will be increasingly documented on the website and information
      on good practices and lessons learned across the different fields of climate law development will be uploaded for the
      benefit of users.
    </p>

    <section class="partners">
      <h3><b>Contributing Partners</b></h3>
      <div style="margin-bottom: 2rem;">
        We would like to thank the following contributing partners for their support in the preparation of the beta
        version of the Toolkit:
      </div>
      <ul class="disc">
        <li><a href="http://www.fao.org/" target="_blank">Food and Agriculture Organization of the United Nations</a></li>
        <li><a href="http://unctad.org/" target="_blank">United Nations Conference on Trade and Development</a></li>
        <li><a href="http://www.unhcr.org/" target="_blank">United Nations High Commission for Refugees</a></li>
        <li><a href="https://unhabitat.org/" target="_blank">United Nations Human Settlements Programme (UN-HABITAT)</a></li>
        <li><a href="http://www.lse.ac.uk/GranthamInstitute/" target="_blank">Grantham Research Institute, London School of Economics</a></li>
        <li><a href="https://www.ucl.ac.uk/laws/" target="_blank">University College London, Faculty of Laws</a></li>
        <li><a href="http://stl.pku.edu.cn/" target="_blank">School of Transnational Law, Peking University</a></li>
        <li><a href="https://www.legal-atlas.com/" target="_blank">Legal Atlas</a></li>
      </ul>
      <p>Contact the Law and Climate Change Toolkit team at <a href="mailto:unep-law-climatelawtoolkit@un.org">unep-law-climatelawtoolkit@un.org</a> .</p>
    </section>
  {% endif %}
</div>
{% endblock %}
