{% extends "index.html" %}

{% load static %}

{% block extra-scripts %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static "js/assessment.js" %}"> </script>
{% endblock %}

{% block hidden_variables %}
<input type="number" name="assessment_id" value="{{ request.user.assessment.all.0.pk }}"></input>
<input type="number" name="user_id" value="{{ request.user.pk }}"></input>
{% endblock %}

{% block content-wrapper-class %}leg-viz with-sidebar{% endblock %}

{% block page-title %}Legal Assessment{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="row starting-page" id="assessment-landing">
	<div class="starting-section">
		<div class="card text-center">
			 <img src="{% static "img/start.png" %}" />
			<h4 class="card-title"><b>New Assessment</b></h4>
			<select id="country-list-new">
			</select>
			<button type="button" class="btn btn-primary" id="add-assessment">New Assessment</button>
		</div>
	</div>
	<div class="starting-section">
		<div class="card text-center">
		 	<img src="{% static "img/continue.png" %}" />
			<h4 class="card-title"><b>Continue Assessment</b></h4>
			<select id="country-list-continue">
			</select> 
			<button type="button" class="btn btn-primary" id="continue-assessment">Continue Assessment</button>
		</div>
	</div>
</div>

<div class="container-fluid text-center" id="assessment-edit" style="display: none">    
	<div class="row content">
		<div id="questions-container" class="col-sm-8 text-left">
			<ul class="list-group">
			</ul>
		</div>

		<div class="col-sm-4 sidenav google-codelab">
			<div id="accordion">
			</div>
		</div>
	</div>
</div>

<div class="button-wrapper" id="assessment-results-btn" style="display: none">
	<button type="button" class="btn btn-primary" id="assessment-results">view results</button>
</div>

{% endblock %}
