<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <![endif]-->
  <title>
    Law and Climate Change toolkit | {% block extra-title %} {% endblock %}
  </title>

  {% load static %}

  {% block scripts %}
    <script src="https://use.fontawesome.com/cd3dcc527f.js"></script>
    <script src="{% static "js/main.js"%}"></script>
    {% if sentry_public_id %}
      <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
      <script>
        Raven.config('{{ sentry_public_id }}').install()
        Raven.setUserContext({
          email: '{{ request.user.email }}',
          username: '{{ request.user.username }}',
          id: '{{ request.user.id }}',
        })
      </script>
    {% endif %}
  {% endblock %}

  {% block ga %}
      {% include "snippets/ga.html" with ga_tracking_id=ga_tracking_id %}
  {% endblock ga %}

  {% block extra-scripts %}{% endblock %}

  {% block styles %}
    <link rel="shortcut icon" href="#" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,600,700" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet" />
  {% endblock %}

  {% block extra-styles %}{% endblock %}
</head>

<body class="{% block content-wrapper-class %}{% endblock %}">
  <div class='hidden'>
    {% block hidden_variables %}

    {% endblock %}
  </div>

  <!-- Top Header -->
  <div id="top-header">
    <div class="header-wrapper">
      <div class="navbar-header">
        <a class="brand" href="{% url 'lcc:legislation:explorer' %}">
          <h2>Law and climate toolkit</h2>
        </a>
      </div>

      <div class="right-div">
        <div class="menu">
          <ul>
            <!-- <li><a href="{% url 'lcc:legislation:explorer' %}">Home</a></li> -->
            <li><a href="{% url 'lcc:legislation:explorer' %}"><img src="{% static "img/legislation-explorer.svg" %}" />Legislation Explorer</a></li>
            <li><a><img src="{% static "img/legal-ass.svg" %}" />Legal Assessment</a></li>
            <li><a href="{% url 'lcc:legislation:explorer' %}"><img src="{% static "img/context-control.svg" %}" />Context Control</a></li>
            <li><a href="{% url 'lcc:legislation:explorer' %}"><img src="{% static "img/lessons-learned.svg" %}" />Lessons learned</a></li>
          </ul>
        </div>
        {% block header-top-right %}
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="page-menu">
    <div class="page-menu-wrapper">   
      <div class="container">
        <h4 id="title" class="heading">{% block page-title %}{% endblock %}</h4>
        {% block page-menu %}
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="breadcrumbs">
    <div class="container">
      {% block breadcrumbs %}
        <span><a href="{% url 'lcc:legislation:explorer' %}">Home</a></span>
      {% endblock %}
    </div>
  </div>

  <!-- Content-middle  -->
  <div class="content-wrapper">
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
  </div>

     <!-- CONTENT-WRAPPER SECTION END-->

  <section class="footer-section">
    <div class="container">
      <div class="row flex">
        <div class="footer-desc right-div">
          <h3><b>Lorem ipsum dolor sit amet, mea tibique recteque an, id sit dicit corpora voluptua. Ea vivendum </b></h3>
        </div>
        <div class="footer-logos">
          <img style="width: 170px;" src="{% static "img/peace.jpg" %}" />
          <img style="width: 79px;" src="{% static "img/unep.png" %}" />
          <img style="width: 103px;margin-left: 3rem;" src="{% static "img/unfccc.jpg" %}" />
        </div>
      </div>
      <div class="row">
        <div class="footer-desc">
          <p>Vide sonet nostrud usu ne, id noster discere insolens mei, eu est duis quaeque constituto. Reformidans disputationi mel ex, has ipsum tibique assentior ad. At mea quem graeci percipit, eam novum prompta sanctus ut. Ad est probo electram, cu per fugitr ad. At mea quem graeci percipit, eam novum prompta sanctus ut. Ad est probo electram, cu per fugit</p>
        </div>
      </div>
      <div class="copyright">
        <strong> Legislation and Climate Change Assessment Toolkit </strong>| &copy; 2017
      </div>
    </div>
  </section>
</body>
</html>
