<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <![endif]-->
  <title>
    Law and Climate Change toolkit | {% block extra-title %} {% endblock %}
  </title>

  {% load static %}
  {% load utils %}

  {% block scripts %}
    <script src="{% static "js/main.js"%}"></script>
    {% if sentry_public_id %}
      <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
      <script>
        Raven.config('{{ sentry_public_id }}').install()
        Raven.setUserContext({
          email: '{{ request.user.email }}',
          username: '{{ request.user.username }}',
          id: '{{ request.user.id }}',
        })
      </script>
    {% endif %}
  {% endblock %}

  {% block ga %}
      {% include "snippets/ga.html" with ga_tracking_id=ga_tracking_id %}
  {% endblock ga %}

  {% block extra-scripts %}{% endblock %}

  {% block styles %}
    <!-- <link rel="icon" href="#" /> -->
    <link href="{% static "css/main.css" %}" rel="stylesheet" />
  {% endblock %}

  {% block extra-styles %}{% endblock %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110663240-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-110663240-1');
  </script>
</head>

<body class="{% block body-layout-type %}{% endblock %} {% block content-wrapper-class %}{% endblock %}">
  <div class='hidden'>{% block hidden_variables %}{% endblock %}</div>
{% block content_page %}
  <!-- Top Header -->
  <div id="top-header">
    <div class="header-wrapper container">
      <a class="brand" href="{% url 'lcc:home_page' %}">
        <span>Law and Climate Change Toolkit</span>
      </a>

      <div class="right-div">
        <div class="menu">
          <ul>
            <li>
              <a class="{% active 'lcc' 'legislation' 'articles' %}" href="{% url 'lcc:legislation:explorer' %}">
                Legislation Explorer
              </a>
            </li>

            <li>
              <a class="{% active 'lcc' 'assessment' %}{% if not request.user.is_authenticated %}disabled{%endif%}" href="{% url 'lcc:assessment:legal_assessment' %}">
                Legal Assessment
              </a>
            </li>

            <li>
              <a class="{% if not request.user.is_authenticated %}disabled{%endif%} {% active 'lcc' 'country' %}"
                 href="{% if request.user.is_authenticated %}{% url 'lcc:country:view' iso=request.user_profile.home_country.iso %}{% endif %}">
                Assessment Profile
              </a>
            </li>

            <li>
              <a title="Not implemented in this version." class="disabled" href="">
                Lessons learned
              </a>
            </li>
          </ul>
        </div>
        {% block header-top-right %}
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="page-menu">
    <div class="page-menu-wrapper">
      <div class="container">
        {% block law_details %}{% endblock %}

        <h2 id="title" class="heading">
        <!-- The very long law of United Kingdom of Great Britain and Northern Island togheter with New Zealand and the rest of the Commonwhealth -->
        {% block page-title %}{% endblock %}
        </h1>
        {% block page-menu %}
        {% endblock %}
      </div>
    </div>
  </div>

  <!-- Content-middle  -->
  <div class="content-wrapper">
    <div class="container">
      {% block breadcrumbs %}{% endblock %}
      {% block content %}

      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block homepage %}
{% endblock %}


     <!-- CONTENT-WRAPPER SECTION END-->
 <section class="footer-section">
    <div class="container">
      <div class="row flex">
        <div class="footer-desc right-div">
        <h3>LCC Toolkit</h3>
          <p>The Toolkit is designed for the use by national governments, international organizational and experts engaging in assisting countries in implementation, as well as academia and research institutions that are analyzing the growing body of climate change-related legislation throughout the world.</p>
          <a style="padding-left: 0;" class="btn btn-link" href="{% url 'lcc:about_us' %}">About LCCT</a>
          <a class="btn btn-link" href="{% url 'lcc:legislation:explorer' %}">Legislation Explorer</a>
        </div>
        <div class="footer-logos">
          <a href="http://thecommonwealth.org/">
              <img style="width: 201px;" src="{% static "img/peace.png" %}" />
          </a>
          <a href="http://www.unep.org">
            <img style="width: 126px;" src="{% static "img/unep.png" %}" />
          </a>
          <a href="https://unfccc.int">
            <img style="width: 127px;" src="{% static "img/unfccc.png" %}" />
          </a>
        </div>
      </div>
    </div>
  </section>
