{% extends "base.html" %}

{% load static %}
{% block content_page %}
{% endblock %}

{% block homepage %}
<div class="homepage">
  <div class="homepage-header">
    <img src="{% static "img/cover.png" %}" />
    <div class="header-content container">
      {% if not request.user.is_authenticated %}
        <div class="homepage-actions">
          <a href="{% url 'lcc:auth:login' %}?next=/legislation" class="btn btn-primary very-wide">Log in</a>
          <a href="{% url 'lcc:auth:register' %}" class="btn btn-link very-wide">Register</a>
        </div>
      {% else %}
        <div class="homepage-actions">
          <p>Logged in as <span class="username">{{ request.user.get_full_name|default:request.user.username }}</span></p>
        </div>
      {% endif %}
      <div class="homepage-desc">
        <p>A global resource to help countries develop legal frameworks for the effective implementation of the <b>Paris Agreement</b> and their nationally determined contributions</p>
        <a href="{% url 'lcc:about_us' %}" class="btn btn-link">Learn more</a>
      </div>
    </div>
  </div>
  <div class="homepag-body">
    <div class="body-content container">
      <section class="toolkit">
      <hr>
        <div class="toolkit-wrapper">
          <div class="item">
            <a href="{% url 'lcc:legislation:explorer' %}"><img src="{% static "img/icon-legislation-explorer.png" %}" /></a>
            <a href="{% url 'lcc:legislation:explorer' %}"><h3>Legislation Explorer</h3></a>
            <p><small>Search legal provisions of climate change laws from across the world.</small></p>
            <br>
          </div>
          <div class="item center">
            {% if request.user.is_authenticated %}
              <a href="{% url 'lcc:assessment:legal_assessment' %}"><img src="{% static "img/icon-legal-assesment.png" %}" /></a> 
              <a href="{% url 'lcc:assessment:legal_assessment' %}"><h3>Legal Assessment</h3></a> 
            {% else %}
              <img src="{% static "img/icon-legal-assesment.png" %}" />
              <h3>Legal Assessment</h3>
            {%endif%}     
            <p><small>Identify potential gaps and areas for improvement, priority areas for climate law review and potential areas for reform.</small></p>
          </div>
          <div class="item">
            {% if request.user.is_authenticated %}
              <a href="{% url 'lcc:country:view' iso=request.user_profile.home_country.iso %}"><img src="{% static "img/icon-assesment-profile.png" %}" /></a>  
              <a href="{% url 'lcc:country:view' iso=request.user_profile.home_country.iso %}"><h3>Assessment Profile</h3></a>  
            {% else %}
              <img src="{% static "img/icon-assesment-profile.png" %}" /> 
              <h3>Assessment Profile</h3>
            {%endif%}       
            <p><small>Customize suggestions from legal assessment by adjusting relevant factors for assessed country, such as type of legal system, population, GDP etc.</small></p>
          </div>
          <div class="item">
            {% if request.user.is_authenticated %}
              <img src="{% static "img/icon-lessons-learned.png" %}" />
              <a href="{% url 'lcc:lessons_learned' %}"><h3>Lessons learned</h3></a>
              <p><small>Building a 'community of practice' for policy makers.</small></p>
            {% else %}
              <img src="{% static "img/icon-lessons-learned.png" %}" />
              <h3>Lessons learned</h3></a>
              <p><small>Building a 'community of practice' for policy makers.</small></p>
            {% endif %}
          </div>
        </div>
      <hr>
      </section>
      <section class="partners">
        {% if static_page %}
          {{ static_page.text|safe }}
        {% else %}
          <h2>Contributing Partners</h2>

          {% if user.is_authenticated %}
            <p class="mw-100 ml-0">Click <a href="{% url 'lcc:user_manual' %}">here</a> to view User Manual</p>
          {% endif %}

          <p>We would like to thank the following contributing partners for their support in the preparation of the beta version of the Toolkit:</p>
          <ul>
            <li><a href="http://www.fao.org/" target="_blank">Food and Agriculture Organization of the United Nations</a></li>
            <li><a href="http://unctad.org/" target="_blank">United Nations Conference on Trade and Development</a></li>
            <li><a href="http://www.unhcr.org/" target="_blank">United Nations High Commission for Refugees</a></li>
            <li><a href="https://unhabitat.org/" target="_blank">United Nations Human Settlements Programme (UN-HABITAT)</a></li>
            <li><a href="http://www.lse.ac.uk/GranthamInstitute/" target="_blank">Grantham Research Institute, London School of Economics</a></li>
            <li><a href="https://www.ucl.ac.uk/laws/" target="_blank">University College London, Faculty of Laws</a></li>
            <li><a href="http://stl.pku.edu.cn/" target="_blank">School of Transnational Law, Peking University</a></li>
            <li><a href="http://www.legal-atlas.net/" target="_blank">Legal Atlas</a></li>
          </ul>
        {% endif %}
      </section>
    </div>
  </div>
</div>
{% endblock %}