{% extends "base.html" %}
{% load static %}


{% block header-top-right %}
	{% if request.user.is_authenticated %}
	{% static "" as baseUrl %}
		<strong> {% if request.user.get_full_name %} {{ request.user.get_full_name }} {% else %} {{ request.user.username }} {% endif %}</strong> {% if request.user_profile.country %}| <img  src="{{ baseUrl }}img/flags/{{request.user_profile.countries.all.0.iso | lower }}.png" >
		{{ request.user_profile.country }} {% endif %} |
		<a href="{% url 'lcc:auth:logout' %}" id='login-link'>Logout</a>
	{% else %}
		<a class="btn btn-login" href="{% url 'lcc:auth:login' %}" id='register-link'> Login</a>
		<a class="btn btn-login" href="#" id='register-link'> Register </a>
	{% endif %}
{% endblock %}

