{% extends "base.html" %}
{% load static %}


{% block header-top-right %}
<div class="user-actions">
  {% if request.user.is_authenticated %}
      <div class="actions-wrapper">
          {% if request.user_profile %}
           <span class="country">
              <a href="{% url 'lcc:country:view' iso=request.user_profile.home_country.iso %}">
                    <span class="username">
                      {{ request.user.get_full_name|default:request.user.username }}
                    </span>
              </a>
           </span>
           {% else %}
            <span class="username">
              {{ request.user.get_full_name|default:request.user.username }}
            </span>
          {% endif %}

            <span class="action">
              <a class="btn btn-link" href="{% url 'lcc:auth:logout' %}">Logout</a>
            </span>
      </div>
  {% else %}
    <a class="btn btn-link" href="{% url 'lcc:auth:login' %}" id='login-link'> Login</a> <span class="separator"></span>
    <a class="btn btn-link" href="{% url 'lcc:auth:register' %}" id='register-link'> Register </a>
  {% endif %}
</div>
{% endblock %}
