{% load static %}
{% for law in laws %}
<div class="law-container">
  <a href="{% url 'lcc:legislation:details' law.pk %}">
    <h5>{% if law.highlighted_title %}{{ law.highlighted_title }}{% else %}{{ law.title }}{% endif %} ({{ law.get_law_type_display }})</h5>
  </a>

  <h6 class="country_year law-country">
    {% static "" as baseUrl %}
    <img class="flag" src="{{ baseUrl }}img/flags/{{ law.country.iso |lower }}.svg" >
    <span>{{ law.country.name }}</span>
    <span>, {{ law.year }}</span>
  </h6>

  <div class="tag-wrapper">
    {% if law.classifications.exists %}
    <span><b>Classification:</b></span>
    <span>
      {% for classification in law.classifications.all %}
       <span class="tag">{{ classification.name }}</span>
      {% endfor %}
    </span>
    {% endif %}
  </div>

  <div class="tag-wrapper">
    {% if law.tags.exists %}
    <span><b>Tags:</b></span>
    <span>
      {% for tag in law.tags.all%}
       <span class="tag">{{ tag.name }}</span>
      {% endfor %}
    </span>
    {% endif %}
  </div>

  {% if law.highlighted_abstract %}
    <div class="abstract">
      {% if law.tags.exists %}
      <span><b>Abstract:</b></span>
      <span>
        {{ law.highlighted_abstract }}
      </span>
      {% endif %}
    </div>
  {% endif %}

</div>
{% empty %}
  <span class="error">No legislation found for these filters</span>
{% endfor %}
