{% load static %}
{% if laws %}
  <div class="counter">
    {{ laws.start_index }} - {{ laws.end_index }} of {{ laws.paginator.count }} results
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if laws.has_previous %}
        <li class="page-item">
          <a class="page-link" href="javascript:void(0)" data-page="{{ laws.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
      {% endif %}
      {% for i in laws.paginator.page_range %}
        {% if laws.number == i %}
          <li class="page-item active">
            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)" data-page="{{ i }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if laws.has_next %}
        <li class="page-item"><a class="page-link" href="javascript:void(0)" data-page="{{ laws.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
{% for law in laws %}
<div class="law-container">
  <a href="{% url 'lcc:legislation:details' law.pk %}">
    <h5>{% if law.highlighted_title %}{{ law.highlighted_title }}{% else %}{{ law.title }}{% endif %} ({{ law.get_law_type_display }})</h5>
  </a>

  <h6 class="country_year law-country">
    {% static "" as baseUrl %}
    <figure style="display: inline-block; width: 25px; height: 18.75px; margin: 0" >
      <img style="max-width: 100%; max-height: 100%;" src="{{ baseUrl }}img/flags/{{ law.country.iso |lower }}.svg">
    </figure>
    <span>{{ law.country.name }}</span><span>, {{ law.year }}</span>
  </h6>

  <div class="tag-wrapper">
    {% if law.highlighted_classifications %}
      <span><b>Legal Area:</b></span>
      <span>
        {% for classification in law.highlighted_classifications %}
         <span class="tag">{{ classification }}</span>
        {% endfor %}
      </span>
    {% endif %}
  </div>

  <div class="tag-wrapper">
    {% if law.highlighted_tags %}
    <span><b>Cross-cutting Categories:</b></span>
    <span>
      {% for tag in law.highlighted_tags %}
       <span class="tag">{{ tag }}</span>
      {% endfor %}
    </span>
    {% endif %}
  </div>

  {% if law.highlighted_abstract %}
    <div class="abstract">
      <span>Abstract:</span>
      <span>
        <pre>{{ law.highlighted_abstract }}</pre>
      </span>
    </div>
  {% endif %}

  {% if law.highlighted_pdf_text %}
    <div class="pdf_text">
      <span>Legislation text:</span><br>
      <span>
        <pre>{{ law.highlighted_pdf_text }}</pre>
      </span>
    </div>
  {% endif %}

  {% for article in law.highlighted_articles %}
    <div class="article">
      <span>
        <a href="{% url 'lcc:legislation:articles:view' law.pk %}#{{ article.code }}">
          Article {{ article.pk }}
        </a>:
      </span>

      {% if article.classifications %}
      <div  class="tag-wrapper">
        <span>Legal Area:</span>
        <span>
          {% for classification in article.classifications %}
           <span class="tag">{{ classification }}</span>
          {% endfor %}
        </span>
      </div>
      {% endif %}

      {% if article.tags %}
        <div class="tag-wrapper">
          <span>Cross-cutting Categories:</span>
          <span>
            {% for tag in article.tags %}
             <span class="tag">{{ tag }}</span>
            {% endfor %}
          </span>
        </div>
      {% endif %}

      {% if article.text %}
        <span>
          <pre>{{ article.text }}</pre>
        </span>
      {% endif %}
    </div>
  {% endfor %}

</div>
{% empty %}
  <span class="error">No legislation found for these filters</span>
{% endfor %}
{% if laws %}
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if laws.has_previous %}
        <li class="page-item">
          <a class="page-link" href="javascript:void(0)" data-page="{{ laws.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
      {% endif %}
      {% for i in laws.paginator.page_range %}
        {% if laws.number == i %}
          <li class="page-item active">
            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)" data-page="{{ i }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if laws.has_next %}
        <li class="page-item"><a class="page-link" href="javascript:void(0)" data-page="{{ laws.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
      {% endif %}
    </ul>
  </nav>
  <div class="counter">
    {{ laws.start_index }} - {{ laws.end_index }} of {{ laws.paginator.count }} results
  </div>
{% endif %}
