{% extends "legislation/explorer.html" %}
{% load static %}

{% block page-title %}
    {{ law.title }}
{% endblock %}

{% block content %}
  <div class="viz-container">
    <h4 class="country_year">
      {% static "" as baseUrl %}
      <img src="{{ baseUrl }}/img/flags/{{ law.country.iso |lower }}.png">
      <span>{{ law.country.name }}</span>
      <span> | {{ law.year }}</span>
    </h4>
    <h3>Date details</h3>
    <p>{% if law.year_mention %}{{ law.year_mention }}{% else %} - {% endif %}</p>
    <h3>Full Text</h3>
    <p>{{ law.pdf_file_name }}</p>
    <h3>Abstract</h3>
    <p>{% if law.abstract %}{{ law.abstract }}{% else %} - {% endif %}</p>
    <h3>Classification</h3>
    <p>{% if law.all_classifications %}{{ law.all_classifications }}{% else %} - {% endif %}</p>
    <h3>Tags</h3>
    <p>{% if law.all_tags %}{{ law.all_tags }}{% else %} - {% endif %}</p>
    <h3>Language</h3>
    <p>{% if law.language %}{{ law.language }}{% else %} - {% endif %}</p>
    <h3>Document type</h3>
    <p>{% if law.law_type %}{{ law.law_type }}{% else %} - {% endif %}</p>
    {% if request.user.is_authenticated %}
      <div class="button-wrapper">
        {% if law.articles.all %}
          <a class="btn btn-info"
             href="{% url 'lcc:legislation:articles:view' legislation_pk=law.pk %}">
            Visualize the articles
          </a>
        {% endif %}
        <a class="btn btn-info"
           href="{% url 'lcc:legislation:edit' legislation_pk=law.pk %}">
          Edit
        </a>
        <a class="btn btn-info"
           href="{% url 'lcc:legislation:articles:add' legislation_pk=law.pk %}">
          Add articles
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}