{% extends "legislation/explorer.html" %}

{% load static %}

{% block extra-scripts %}
  <script src="{% static "js/upload.js" %}"></script>
{% endblock %}

{% block page-title %}Edit Legislation{% endblock %}
{% block page-menu %} 
  {% include 'legislation/navigation.html' %}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <span> <i class="icon-right-open-mini"></i><a href="{% url 'lcc:legislation:details' legislation_pk=law.pk %}">{{ law.title }}</a></span>
  <span> <i class="icon-right-open-mini"></i>Edit</span>
{% endblock %}

{% block content %}

<div class="row addLeg">
  <div class="">
    <div class="">
      <div class="panel-body">
        <h3>
          {{ law.title }}
        </h3>
        <form id="legislationEditForm" enctype="multipart/form-data" method="post"
              action="{% url 'lcc:legislation:edit' legislation_pk=law.pk %}">
          {% csrf_token %}
          <div class='law-meta-data-container'>
            <div>
              <label class="label-large" for="id_title">Title <p style="display: inline-block; color: red;" title="This field is required.">*</p></label>
            </div>
            <div>
              <input class='law-meta-data-text-field' type="text" name="title"
                     maxlength="256" required id="id_title" value="{{ form.title.value|default_if_none:'' }}"/>
            </div>
          </div>

          <div class='law-meta-data-container'>
            <div>
              <label class="label-large" for="id_abstract">Abstract:</label>
            </div>

            <div class="clearfix">
              <textarea class='law-meta-data-text-field law-meta-data-abstract-field' name="abstract" maxlength="1024" id="id_abstract" placeholder="Add Abstract">{{ form.abstract.value|default_if_none:'' }}</textarea>
            <small class="pull-right" id="rem_char"></small>
            </div>
          </div>


          <div class='full-width-bg' id="test">
            <div class="container upload-container" id="upload_container_file">
              <div>
                <label style="margin-bottom: 0" class="label-large" for="id_pdf_file">Upload file <p style="display: inline-block; color: red;" title="This field is required.">*</p></label>
              </div>

              <div class="label-description">
                Attention: all your articles that might have been added to this law will be lost if you upload another file!
                <p>The current pdf is: <strong>{{ law.pdf_file_name }}</strong></p>
              </div>

              <div class="custom-file-upload">
                <input type="file" name="pdf_file" name="myfiles[]" id="id_pdf_file" accept=".pdf, .Pdf, .PDF, .PDf">
              </div>
            </div>

          </div>

          <div class='law-meta-data-container'>
            <div class="selector selector-inline--4">
              <div>
                <label class="label-medium" for="id_country">Country <p style="display: inline-block; color: red;" title="This field is required.">*</p>:</label>
              </div>
              <div>
                <select name="country" required id="id_country" class="law-meta-data-combobox">
                  {% for country in countries %}
                    <option value="{{country.iso}}"
                        {% if form.country.value == country.iso %}
                          selected
                        {% endif %}>
                      {{ country.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="selector selector-inline--4">
              <div>
                <label class="label-medium" for="id_law_language">Language:</label>
              </div>
              <div>
                <select name="language" id="id_law_language" class="law-meta-data-combobox">
                  {% for iso, language in available_languages %}
                    <option value="{{iso}}"
                        {% if iso == form.language.value %}
                          selected
                        {% endif %}>
                      {{ language }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="selector selector-inline--4">
              <div>
                <label class="label-medium" for="id_law_type">Law type:</label>
              </div>
              <div>
                <select name="law_type" id="id_law_type" class="law-meta-data-combobox">
                {% for law_type_key, law_value_key in legislation_type %}
                    <option value="{{law_type_key}}"
                        {% if form.law_type.value == law_value_key %}
                          selected
                        {% endif %}>
                      {{ law_value_key }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="selector selector-inline--4">
              <div>
                <label class="label-medium" for="id_geo_coverage">Geographical Coverage:</label>
              </div>
              <div>
                <select name="geo_coverage" id="id_geo_coverage" class="law-meta-data-combobox">
                {% for geo_type_key, geo_value_key in geo_coverage %}
                  <option value="{{ geo_type_key }}"
                      {% if form.geo_coverage.value == geo_type_key %}
                        selected
                      {% endif %}>
                    {{ geo_value_key }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>

            <div class="selector selector-inline--3">
              <div>
                <label class="label-medium" for="id_website">Website:</label>
              </div>
              <div>
                <input class='law-meta-data-text-field' type="text" id="id_website"
                       name="website" maxlength="256" value="{{ form.website.value|default_if_none:'' }}"/>
                {% if errors.website %}
                  <span class="year-details error">{{ errors.website }}</span>
                {% endif %}
              </div>
            </div>

            <div class="selector selector-inline--3">
              <div>
                <label class="label-medium" for="id_source">Source:</label>
              </div>
              <div>
                <input class='law-meta-data-text-field' type="text" id="id_source"
                       name="source" maxlength="256" value="{{ form.source.value|default_if_none:'' }}"/>
              </div>
            </div>

            <div class="selector selector-inline--3">
              <div>
                <label class="label-medium" for="id_source_type">Type of source:</label>
              </div>
              <div>
                <select name="source_type" id="id_source_type" class="law-meta-data-combobox">
                  {% for source_type_key, source_type_value in source_types %}
                    <option value="{{ source_type_key }}"
                        {% if form.source_type.value == source_type_key %}
                          selected
                        {% endif %}>
                      {{ source_type_value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="selector selector-inline--4">
              <div>
                <label class="label-medium" for="id_year">Promulgation of the law (year):</label>
              </div>
              <div>
                <select name="year" id="id_year" class="law-meta-data-combobox">
                  <option value="" {% if not form.year_amendment.value %} selected {% endif %}>----</option>
                  {% for year in adoption_years %}
                    <option value="{{ year }}"
                        {% if form.year.value == year %}
                          selected
                        {% endif %}>
                      {{ year }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="selector selector-inline--4">
              <div>
                <label class="label-medium" for="id_year_amendment">Latest known amendment (year):</label>
              </div>
              <div>
                <select name="year_amendment" id="id_year_amendment" class="law-meta-data-combobox">
                  {% for year in adoption_years %}
                    <option value="{{ year }}"
                        {% if form.year_amendment.value == year %}
                          selected
                        {% endif %}}>
                      {{ year }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="selector selector-inline--2">
              <div>
                <label class="label-medium" for="id_year_mention">Additional date details:</label>
              </div>
              <div>
                <input class='law-meta-data-text-field' type="text"
                       id="id_year_mention"
                       name="year_mention" maxlength="256" value="{{ form.year_mention.value|default_if_none:'' }}"/>
                <!-- TODO: this checks if the field have a 4 digit string. Could be done in js. -->
                {% if form.errors.year_mention %}
                  <span class="year-details error">{{ form.errors.year_mention.0 }}</span>
                {% endif %}
              </div>
            </div>
          </div>

          <div class='law-meta-data-container check-fields'>
            <div class="tags wrapper">
              <div>
                <label for="id_tags">Tags</label>
              </div>
              <div>
                Select the best areas where the legislation fits
              </div>
              <div class="list-container">
                <ul name='tags' id='tags'>
                  {% for tag_group in tag_groups %}
                    <li class="first-level level">
                      <span class="list-header">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        <span name='tagGroup_{{tag_group.pk}}'> {{tag_group.name}} </span>
                      </span>
                        <ul class="second-level level">
                          {% for tag in tag_group.tags %}
                            <li>
                              <span class="list-header">
                                <input id='tag_{{tag.pk}}' name='tag_{{tag.pk}}' type='checkbox'
                                  {% if tag.pk in form.tags.value %}
                                    checked
                                  {% endif %}>
                                {{tag.name}}
                                </input>
                              </span>
                            </li>
                          {% endfor %}
                        </ul>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="classificaions wrapper">
              <div>
                <label for="id_classifications">Classification</label>
              </div>

              <div>
                Select the legal areas where the legislation fits
              </div>

              <div class="list-container">
                <ul>
                  {% for top_class in classifications %}
                    <li class="first-level level">
                      <span  class="list-header" {% if not top_class.get_children %} style="pointer-events: none;" {% endif %} >
                        {% if top_class.get_children %}
                          <input name='classification_{{ top_class.pk }}' type='checkbox'
                              {% if top_class.pk in form.classifications.value %}
                                checked
                              {% endif %}>
                            {{ top_class.name }}
                          </input>
                        {% else %}
                          <span>{{ top_class.name }}</span>
                        {% endif %}
                      </span>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-info" id='save-btn' name='save-law-id-btn' value="{{law.pk}}"> Save </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}