{% extends "index.html" %}

{% load static %}

{% block extra-scripts %}
  <script src="{% static "js/legislation_filter.js" %}"> </script>
  <script src="{% static "js/sidebar.js" %}"> </script>
{% endblock %}

{% block content-wrapper-class %}leg-viz with-sidebar{% endblock %}

{% block menu-top %}
  <li> <a href="/#"> Dashboard </a> </li>
  <li> <a href="{% url 'lcc:legislation:explorer' %}" class="menu-top-active"> Legislation</a></li>
{% endblock %}


{% block content %}
  <div id="title" class="heading">
    Legislation Explorer
  </div>
  <div class="search">
    <form action="{% url 'lcc:legislation:explorer' %}" method="get">
      <div class="input-group search-input-group">
        <div class="input-group search-input-wrapper">
          <input type="text" name="q" placeholder="Search through all legislation database">
        </div>
        <div class="input-group-btn legal-area-btn-wrapper">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span style="float: left;">Select Legal Area</span>
            <span style="float: right;">|<span style="padding: 0 4px 0 4px"><span class="caret"></span></span></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" style="width: 100%;">
            <div class="classifications">
              {% for top in top_classifications %}
                <div class="checkbox classification">
                  <input type="checkbox" name="classification" id="{{ top.code }}" value="{{ top.code }}">
                  {{ top.name }}<small class="count"> ({{ top.get_descendant_count }} results)</small>
                </div>
              {% endfor %}
            </div>
          </div>
        </div><!-- /btn-group -->
        <div class="input-group-btn search-btn-wrapper">
          <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </form>
  </div><!-- /search -->
  <div style="margin-left: -1px">
    <div style="margin-top:28px;">
      <a href="{% url 'lcc:legislation:add' %}" class="btn btn-info">Add legislation</a>
    </div>
  </div>
  <div id="laws">
    {% for law in laws %}
      <div class="law-container">
        <a href="{% url 'lcc:legislation:details' law.pk %}"><h3>{{ law }} - {{ law.title }}</h3></a>

        <h4 class="country_year law-country">
            {% static "" as baseUrl %}
            <img  src="{{ baseUrl }}img/flags/{{ law.country.iso |lower }}.png" >
          <span>{{ law.country.name }}</span>
        <span> | {{ law.year }}</span>
        </h4>

        <small class="law-tag"><b>Taxonomy Tags</b>: {{ law.all_tags }}</small> <br>
        <small class="law-classification"><b>Taxonomy Classification</b>: {{ law.all_classifications }}</small>
      </div>
    {% endfor %}
  </div>

  <div class="filters">
  <button type="button" class="btn btn-default open-sidebar"><span class="more active">MORE FILTERS</span> <span class="less">LESS FILTERS</span></button>
    <div class="filter-tags">
    <label for="TagDropDown">Tags</label>
      <select name="tags[]" id="TagDropDown" multiple="multiple">
        {% for group_tag in group_tags %}
          <optgroup label="{{group_tag.name}}">
            {% for tag in group_tag.tags.all %}
              <option value="{{tag.pk}}" class="option-child-1">{{ tag.name }}</option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div>

    <div class="filter-countries">
    <label for="countriesDropDown">Country</label>
      <select name="countries" id="countriesDropDown">
        {% for country in countries %}
          <option value="{{country.iso}}">{{ country.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="filter-type">
    <label for="typeDropDown">Type</label>
      <select name="type" id="typeDropDown">
        {% for key, value in legislation_type %}
          <option value="{{key}}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="button-wrapper">
      <button type="button" class="btn btn-primary" id="submitButton">Apply filters</button>
    </div>

  </div>
{% endblock %}
