{% extends "index.html" %}

{% load static %}

{% block extra-scripts %}
  <script src="{% static "js/legislation_filter.js" %}"> </script>
  <script src="{% static "js/sidebar.js" %}"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"> </script>
{% endblock %}

{% block extra-styles %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css" rel="stylesheet" />
{% endblock %}

{% block content-wrapper-class %}leg-viz with-sidebar{% endblock %}

{% block page-title %}Legislation Explorer{% endblock %}

{% block page-menu %}
<ul>
  <li><a href="{% url 'lcc:legislation:add' %}" class="btn btn-primary">Add legislation</a></li>
</ul>
{% endblock %}


{% block breadcrumbs %}{% endblock %}

{% block content %}
  <div class="search">
    <div class="row">
      <div class="input-group searchInputGroup">
        <div class="input-group searchInputWrapper">
          <input id="textSearchInput" type="text" name="q" placeholder="Search legislation database">
        </div>
        <div class="input-group-btn searchBtnWrapper">
          <button class="btn btn-primary submitBtn" type="button"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </div><!-- /row -->
  </div><!-- /search -->
<div id="laws" class="page-container half viz-container">
  {% include "./_laws.html" %}
</div>
<div class="page-container half viz-container right">
  <h4>Filter legislation</h4>

  <div class="filter-item list-container" id="classificationsSelectWrapper">
    <h5>Select Legal Area</h5>
    <small class="form-text text-muted">
      Return results that match any of the selected legal areas.
    </small>
    <br>
    <ul class="round" id="classificationsSelect">
      {% for top_class in top_classifications %}
        <li class="first-level level">
          {% with top_class.get_children as second_classifications %}
            <span class="list-header">
              <input id='classification-{{ top_class.pk }}' value='{{ top_class.pk }}' type='checkbox'/>
              <label for='classification-{{ top_class.pk }}'>{{ top_class.name }}</label>
              {% if second_classifications %}
                <i class="fa fa-caret-down caret" aria-hidden="true"></i>
              {% endif %}
            </span>
            <ul class="second-level level">
              <li class="select-deselect">
                <a href="javascript:void(0)" class="select-all">Select all</a>
                 |
                <a href="javascript:void(0)" class="deselect-all">Deselect all</a>
              </li>
              {% for second_class in second_classifications %}
                {% with second_class.get_children as third_classifications %}
                  <li>
                    <span class="list-header">
                      <input id='classification-{{ second_class.pk }}' value='{{ second_class.pk }}' type='checkbox'/>
                      <label for="classification-{{ second_class.pk }}">{{ second_class.name }}</label>
                      {% if third_classifications %}
                        <i class="fa fa-caret-down caret" aria-hidden="true"></i>
                      {% endif %}
                    </span>
                    <ul class="third-level level">
                      <li class="select-deselect">
                        <a href="javascript:void(0)" class="select-all">Select all</a>
                         |
                        <a href="javascript:void(0)" class="deselect-all">Deselect all</a>
                      </li>
                      {% for third_class in third_classifications %}
                        <li>
                          <input id='classification-{{ third_class.pk }}' value='{{ third_class.pk }}' type='checkbox'/>
                          <label for="classification-{{ third_class.pk }}">{{ third_class.name }}</label>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endwith %}
              {% endfor %}
            </ul>
          {% endwith %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="filter-item">
    <h5>Country</h5>
    <small class="form-text text-muted">
      Return results that match any of the selected countries.
    </small>
    <br>
    <select id="countrySelect" name="countries" multiple="multiple">
      {% for region in regions %}
        <optgroup label="{{ region }}">
          {% for country in region.countries %}
            <option value="{{ country.iso }}" class="option-child-1">{{ country.name }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select>
  </div>

  <div class="filter-item list-container filter-type">
    <h5>Select type</h5>
    <small class="form-text text-muted">
      Return results that match any of the selected law types.
    </small>
    <br>
    <ul class="round" id="typeSelect">
      {% for key, value in legislation_type %}
        <li class="first-level level">
          <input type="checkbox" id="law-type-{{key}}" value="{{key}}"></input>
          <label for="law-type-{{key}}">{{ value }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="filter-item list-container filter-type">
    <h5>Cross cutting categories</h5>
    <small class="form-text text-muted">
      Only return results that match all selected categories.
    </small>
    <br>
    <ul class="round" id="tagsSelect">
      {% for group_tag in group_tags %}
        {% for tag in group_tag.tags.all %}
          <li class="first-level level">
            <input type="checkbox" id="tag-{{tag.pk}}" value="{{tag.pk}}"></input>
            <label for="tag-{{tag.pk}}">{{ tag.name }}</label>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>

  <div class="filter-item">
    <h5>Promulgation year</h5>
    <input type="text" class="span2" name="year_range" id="yearSlider" value="" data-slider-min="1945" data-slider-max="{% now 'Y' %}" data-slider-step="1" data-slider-value="[1945,{% now 'Y' %}]" />
    <div class="slider-values">
      <input type="text" name="from_year" value="1945" id="fromYear">
      <input type="text" name="to_year" value="{% now 'Y' %}" id="toYear">
    </div>
  </div>

  <button type="button" class="btn btn-primary float-left submitBtn"><i class="fa fa-filter" aria-hidden="true"></i> Apply filters</button>
  <a href=".">
    <button type="button" class="btn btn-secondary float-right" id="resetBtn"><i class="fa fa-undo" aria-hidden="true"></i> Reset filters</button>
  </a>

</div>

{% endblock %}
