<ul>
    <li class="wide"><a href="{% url 'lcc:legislation:details' legislation_pk=law.pk %}" class="btn btn-link active">Overview</a></li>
    <li class="wide"><a href="{{ law.pdf_file.url }}" target="_blank" class="btn btn-link">Body</a></li>
    {% with law.articles.all as articles %}
    <li class="wide"><a href="{% url 'lcc:legislation:articles:view' legislation_pk=law.pk %}" class="btn btn-link {% if not articles %}disabled{% endif %}" title="{% if not articles %}This legislation does not have any articles defined.{% endif %}">Articles</a></li>
    {% endwith %}
</ul>
