<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>
    	Law and Climate Change toolkit | {% block extra-title %} {% endblock %}
    </title>

	{% load static %}

	 {% block scripts %}
        <script src="https://use.fontawesome.com/cd3dcc527f.js"></script>
        <script src="{% static "js/main.js"%}"></script>
	 {% endblock %}

	 {% block extra-scripts %} {% endblock %}

    {% block styles %}
        <link rel="shortcut icon" href="#" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,600,700" rel="stylesheet">
        <link href="{% static "css/main.css" %}" rel="stylesheet" />
    {% endblock %}

	{% block extra-styles %}
    {% endblock %}

</head>

<body>
	<div class='hidden'>
    	{% block hidden_variables %}

    	{% endblock %}
    </div>

    <!-- Top Header -->
    <div id="top-header" class="navbar navbar-inverse set-radius-zero" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/legislation">
                {% block header-top-left %}
                    <img style="width: 170px;" src="{% static "img/peace.jpg" %}" />
                    <img style="width: 79px;" src="{% static "img/unep.png" %}" />
                    <img style="width: 103px;margin-left: 3rem;" src="{% static "img/unfccc.jpg" %}" />
                {% endblock %}
                <ul class="menu">
                    <li><a href="/legislation">Home</a></li>
                    <li><a href="/legislation">Legislation</a></li>
                </ul>
                </a>
            </div>

            <div class="right-div">
            	{% block header-top-right %}
            	{% endblock %}
            </div>
        </div>
    </div>

	<!-- Content-middle  -->
    <div class="content-wrapper {% block content-wrapper-class %}{% endblock %}">
         <div class="container">
	     {% block content %}

	     {% endblock %}
    	</div>
    </div>
     <!-- CONTENT-WRAPPER SECTION END-->

    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <strong> Legislation and Climate Change Assessment Toolkit </strong>| &copy; 2017 <a href="http://www.eaudeweb.ro"> www.eaudeweb.ro </a>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
