div.search {
    margin-top: 20px;
    vertical-align: top;
    width: 60%;
    button.search-btn {
        height: 34px;
    }
}

div.classifications {
    margin-left: 30px;
}

div.classification {
    input {
        margin: 10px;
    }
}

div.searchInputGroup {
    width: 100%;

    input[type="text"],
    button {
        width: 100%;
    }

    button {
        padding: 6px 4px;
    }
}

div.searchInputWrapper {
    display: inline-block;
    width: 80%;
    input {
        border-right: none!important;
        &:focus {
            outline: none;
        }
    }
}

div.legalAreaBtnWrapper {
    display: inline-block;
    width: 20%;
    span {
        font-size: 1.2rem;
    }
    button {
        display: flex;
        min-width: initial!important;
        &:focus {
            outline: none;
            box-shadow: none;
        }
        color: @text-muted;
        &:before {
            content: '|';
            float: left;
            position: absolute;
            left: -8px;
            top: 4px;
        }
    }
}

div.searchBtnWrapper {
    display: inline-block;
    width: 20%;

    button {
        min-width: initial!important;
        height: 37px;
    }
}

div.filterTags select {
    padding: 0;
}


select#classificationsDropDown {
    width: 100%;
    option {
        min-height: 32px;
    }
}

.filter-item {

    ul {
        padding-left: 5px;
        label {
            font-size: 1.3rem;
        }
    }
    select[multiple="multiple"] {
        overflow: hidden;
        &:hover {
            overflow: auto;
        }
    }
}

.law-container em {
  background-color: yellow;
}

#classificationsDropDownWrapper {
    i {
        position: absolute;
        left: -2px;
        top: 0px;
    }
    ul.second-level {
        display: none;
    }
    .third-level li {
        &:before {
            content: '•';
            position: absolute;
            left: -9px;
        }
    }
}

.counter {
  font-style: italic;
  color: gray;
  font-size: 90%;
  padding-bottom: 10px;
}

.slider.slider-horizontal {
  display: block;
  margin: 20px 0 20px 0;
  width: 100%!important;
}

.slider-selection {
  background-image: none!important;
  background: #a4c8de;
}

.slider-values {
  display: inline-block;
  width: 100%;
}

.slider-values input {
  width: 49%!important;
  border: 0!important;
  margin: 6px 0 6px 0;
  float: left;
  text-align: center;
}

.page-item.active .page-link {
  z-index: auto;
}
