div.search {
  z-index: -1!important;
  margin-top: 20px;
  vertical-align: top;
  button.search-btn {
    height: 34px;
  }
}

div.classifications {
  margin-left: 30px;
}

div.classification {
  input{
    margin: 10px;
  }
}

div.searchInputGroup {
  width: 100%;

  input[type="text"], button {
    width: 100%;
  }

  button {
    padding: 6px 4px;
  }
}

div.searchInputWrapper {
  display: inline-block;
  width: 70%;
}

div.legalAreaBtnWrapper {
  display: inline-block;
  width: 20%;
  button {
    color: gray;
  }
}

div.searchBtnWrapper {
  display: inline-block;
  width: 10%;
}

div.filterTags select {
  min-height: 400px;
}

div#classificationsDropDownWrapper {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
}

select#classificationsDropDown {
  width: 100%;
  option {
    min-height: 32px;
  }
}
