div.search {
  z-index: -1!important;
  margin-top: 20px;
  vertical-align: top;
  button.search-btn {
    height: 34px;
  }
}

div.classifications {
  margin-left: 30px;
}

div.classification {
  input{
    margin: 10px;
  }
  .count {
    color: #989898;
  }
}

div.search-input-group {
  width: 100%;

  input[type="text"], button {
    width: 100%;
  }

  button {
    padding: 6px 4px;
  }
}

div.search-input-wrapper {
  display: inline-block;
  width: 50%;
}

div.legal-area-btn-wrapper {
  display: inline-block;
  width: 40%;
  button {
    color: gray;
  }
}

div.search-btn-wrapper {
  display: inline-block;
  width: 10%;
}
