.page-menu {
    background: @background;
    border-bottom: 1px solid @border;
    margin-bottom: 2rem;

    .clearfix;
    .heading {
        cursor: default;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        line-height: 5rem;
        margin-top: 2rem;
        max-width: 50%;
        margin-bottom: 2rem;
        font-weight: bold;
    }
    ul {
        margin-top: 3rem;
        float: right;
        li {
            display: inline-block;
        }
    }
    //for big heading
    .extended & {
        background: white;
        border-top: 1px solid @border;
        border-bottom: none;
        padding-top: 5rem;
        .heading {
            line-height: inherit;
            width: 80%;
            margin: auto;
            float: initial;
            max-width: initial;
            text-align: center;
            font-weight: normal;
            @media @tablet {
                font-size: 3rem;
            }
        }
        ul {
            float: initial;
            margin-top: 4rem;
            width: 100%;
            border-bottom: 1px solid @border;
            text-align: center;
            li {
                a {
                    &.active {
                        color: @link-color;
                        font-weight: bold;
                        border-bottom: 4px solid;
                    }
                }
            }
        }
    }
    .no-title &{
        display: none;
    }
}