
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */



/* =============================================================
   GENERAL STYLES
 ============================================================ */


.set-radius-zero {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
.content-wrapper {
    > .container {
        position: relative;
    }
    .clearfix;
    width: 100%;
    margin-top: 2rem;
    min-height:600px;
    // padding-bottom:90px;
    // overflow: hidden;
         background: linear-gradient(to bottom, #fff 0, rgb(253, 253, 253) 150px);
     // background: linear-gradient(to bottom, #fff 0, #f6f6f6 150px); 
}
.header-line {
    font-weight:900;
    padding-bottom:25px;
    border-bottom:1px solid #eeeeee;
    text-transform:uppercase;
}
.pad-botm {
    padding-bottom:30px;
}


/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */

.right-div {
    float: right;
}


/* =============================================================
   DASHBOARD STYLES
 ============================================================ */

.img-comments {
   border: 3px double #e1e1e1;
height: 60px;

}

.chat-widget-main {
    max-height:330px;
    overflow:auto;
}

.slide-bdr {
   border:5px solid #9170E4
}
.chat-widget-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #F70E62;
    border-width: 15px;
    margin-left: -15px;
}

.chat-widget-left {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #F70E62;
    font-size:12px;
}
.chat-widget-right:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #5AA8CC;
    border-width: 15px;
    margin-left: -15px;
}

.chat-widget-right {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #5AA8CC;
    font-size:12px;
}

.chat-widget-name-left {
   color: #808080;
    margin-top: 30px;
    margin-left: 60px;
    text-align:left;
}

    .img-left-chat {
        border:3px double #e1e1e1;
        float:left;
        margin-right:30px;
    }
     .img-right-chat {
        border:3px double #e1e1e1;
        float:right;
        margin-left:30px;
    }
     .chat-widget-main img-right {
        border:3px double #e1e1e1;
        float:left;
    }
.chat-widget-name-left h4 {
    font-weight:normal;
    font-size:11px;

}
.chat-widget-name-left h5 {
    font-weight:normal;
    font-size:10px;
}
.chat-widget-name-right h4 {
    font-weight:normal;
    font-size:11px;
}
.chat-widget-name-right h5 {
    font-weight:normal;
    font-size:10px;
}
.chat-widget-name-right {
    color: #808080;
    margin-top: 40px;
    margin-right: 60px;
    text-align:right;
}

.recent-users-sec img {
    max-height:80px;
    margin:15px;
}

.back-widget-set {
    background-color:transparent;
}

/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
.footer-section {
    padding:25px 50px 25px 50px;
    color:#000;
    background: white;
    font-size:13px;
      // background-color: #f7f7f7;
      text-align:right;
       border-top:5px solid #9170E4;
       min-height: 300px;
       position: relative;
}

    .footer-section a, .footer-section a:hover {
        color:#000;
    }



.footer-logos {
    float: left;
}

.copyright {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}


.footer-desc {
    text-align: left;
    &.right-div {
    width: 50%;
    }
    &:not(.right-div) {
            border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 2rem;
    }
}

.footer-section {
    .flex {
            display: flex;
    justify-content: space-between;
    align-items: center;
    }
}


.flag {
    width: 25px;
}

.separator {
    &:after {
    content: '|';
    font-size: 1.4rem;
    position: relative;
    top: 3px;
    color: @border;
    }
}

.username {
    font-weight: bold;
}

.wide {
    margin: 0 1rem;
}

.content-wrapper {
    font-size: 1.5rem;
}

.large-margin {
    display: block;
    height: 4rem;

    &--border{
        border-bottom: 1px solid @border;
        margin-bottom: 2rem;
    }
}

.hidden {
    display: none;
}

.neg_6_margin {
    margin-left: -6rem;
}

.muted {
    color: @text-muted;
}

.shorten {
    max-width: 157px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin-right: .5rem;
    vertical-align: middle;
    position: relative;
    &:after {
            content: '...';
    position: absolute;
    left: 100%;
    }
}

.text-color {
    color: @text-color;
}


.btn-select {
    height: 37px;
    border-width: 2px;
    border-color: #ccc; 
    background-color: white;
}