//== Fonts:
@emBase: 10px;
@emBaseLarge: 12px;
@font-family-sans-serif:  'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-size-base:          @emBase;
@font-size-base-large:    @emBaseLarge;
@line-height-base:        1.4285; // 1.428571429; // 20/14


@link-color     : #0052CC;
// @text-color     : #2d2d2d;
@body 			: rgba(0,0,0,0.8);
@text-color		: @body;
@text-muted		: rgba(0,0,0,.54);
@border-light	: rgba(255,255,255,.3);
@border			: #d8d8d8;
// @background 	: rgba(0,0,0,.05);
@background 	: #f2f2f2;
@dark-background: #333739;

@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;


@brand-primary  : #3c98dd;
@grey           : #939598;
@grey-light     : #BDBDBD;
@grey-dark      : #3C3C3C;
@grey-dark-2    : #7D7D7D;
@white-dark     : #f1f2f2;
@white-light    : #E6E6E6;
@black          : #000000;
@red            : #d9534f;
@green    		: #5cb85c;
@blue 			: #4c70b5;
@blue-light		: #00aeef;

@alto: #d2d2d2;
//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         20px;
@grid-gutter-mobile-width:  10px;
@input: 					37px;
@border-radius:				3px;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Extra small screen / phone
// Note: Deprecated @screen-xs-2 and @screen-phone as of v3.0.1
@screen-xs-2:                  640px;
@screen-xs-2-min:              @screen-xs-2;
@screen-phone:               @screen-xs-2-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  1024px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// Extra Large screen / wide desktop
@screen-xl:                  1600px;
@screen-xl-min:              @screen-xl;
@screen-xl-desktop:          @screen-xl-min;

// So media queries don't overlap when required, provide a maximum
@screen-xxs-max:              (@screen-xs-min - 1);
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
@screen-lg-max:              (@screen-xl-min - 1);



// CUSTOM VARIABLES

// Media queries
@xSmall: ~"(min-width: @{screen-xs-min})";
@xSmall2: ~"(min-width: @{screen-xs-2-min})";
@small: ~"(min-width: @{screen-sm-min})";
@medium: ~"(min-width: @{screen-md-min})";
@large: ~"(min-width: @{screen-lg-min})";
@xLarge: ~"(min-width: @{screen-xl-min})";
@smallDown: ~"(max-width: @{screen-sm-max})";
@xSmallDown: ~"(max-width: @{screen-xs-max})";
@xxSmallDown: ~"(max-width: @{screen-xxs-max})";
@landscape: ~"(orientation: landscape)";
@portrait: ~"(orientation: portrait)";

// Media queries by name
@mobileOnly: ~"(max-width: @{screen-xs-max})"; // < 768
@tabletOnly: ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})"; // 768 <= width < 1024
@tabletDown: ~"(max-width: @{screen-sm-max})"; // < 1024
@tabletUp: ~"(min-width: @{screen-xs-max})"; // >= 768
@desktopUp: ~"(min-width: @{screen-md-min})"; // >= 1024
@desktopLargeUp: ~"(min-width: @{screen-lg-min})"; // >= 1200
@mobileUp: ~"(min-width: @{screen-sm-max})"; // >= 768
@tablet: ~"(max-width: 1023px)";


// Fonts
@font-path:   "../fonts/";
@FontAwesome: 'FontAwesome';
@BaseFont: @font-family-sans-serif;
@bodyFontSize: 1.5rem;
@bodyLineHeight: 20px;
@font-weight-bold: bold;


// Misc
@sidePadding: 20px;
@sidePaddingDesktop: 24px;
@searchHeight: 75px;
@searchHeightDesktop: 80px;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;


//== Modals
//
//##

//** Padding applied to the modal body
@modal-inner-padding:         15px;

//** Padding applied to the modal title
@modal-title-padding:         15px;
//** Modal title line-height
@modal-title-line-height:     @line-height-base;

//** Background color of modal content area
@modal-content-bg:                             #fff;
//** Modal content border color
@modal-content-border-color:                   rgba(0,0,0,.2);
//** Modal content border color **for IE8**
@modal-content-fallback-border-color:          #999;

//** Modal backdrop background color
@modal-backdrop-bg:           #000;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .5;
//** Modal header border color
@modal-header-border-color:   #e5e5e5;
//** Modal footer border color
@modal-footer-border-color:   @modal-header-border-color;

@modal-lg:                    900px;
@modal-md:                    600px;
@modal-sm:                    300px;


//== Close
//
//##

@close-font-weight:           bold;
@close-color:                 #000;
@close-text-shadow:           0 1px 0 #fff;

